/* .door styles */
.door {
  transform:translate3D(11.5em, 0em, 0em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:20em;
  height:3em;
  margin:-1.5em 0 0 -10em;
}
.door .tp, .door .bm {
  width:20em;
  height:20em;
}
.door .side {
  width:4.589869487802999em;
  height:3em;
}
.door .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 9.975em);
}
.door .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 9.975em);
}
.door .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 9.975em);
}
.door .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 9.975em);
}
.door .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 9.975em);
}
.door .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 9.975em);
}
.door .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 9.975em);
}
.door .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 9.975em);
}
.door .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 9.975em);
}
.door .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 9.975em);
}
.door .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 9.975em);
}
.door .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 9.975em);
}
.door .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 9.975em);
}
.door .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 9.975em);
}
.door .face, .door .side {
  background-color:#b6b17c;
}
/* .door-handle styles */
.door-handle {
  transform:translate3D(11.5em, 0em, 2.875em) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
  opacity:1;
  width:1.5em;
  height:12.5em;
  margin:-6.25em 0 0 -0.75em;
}
.door-handle .tp, .door-handle .bm {
  width:1.5em;
  height:1.5em;
}
.door-handle .side {
  width:0.36736521158522495em;
  height:12.5em;
}
.door-handle .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
.door-handle .face, .door-handle .side {
  background-color:#b6b17c;
}
/* .door-hub styles */
.door-hub {
  transform:translate3D(11.5em, 0em, 2.6875em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5em;
  height:3em;
  margin:-1.5em 0 0 -2.5em;
}
.door-hub .tp, .door-hub .bm {
  width:5em;
  height:5em;
}
.door-hub .side {
  width:1.1662173719507496em;
  height:3em;
}
.door-hub .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 2.475em);
}
.door-hub .face, .door-hub .side {
  background-color:#b6b17c;
}
/* .door-hinge styles */
.door-hinge {
  transform:translate3D(2.125em, 0em, -0.375em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5em;
  height:3.75em;
  margin:-1.875em 0 0 -2.5em;
}
.door-hinge .ft {
  transform:translateZ(3.75em);
}
.door-hinge .bk {
  transform:translateZ(-3.75em) rotateY(180deg);
}
.door-hinge .rt, .door-hinge .lt {
  width:7.5em;
  height:3.75em;
}
.door-hinge .tp, .door-hinge .bm {
  width:5em;
  height:7.5em;
}
.door-hinge .face {
  background-color:#b6b17c;
}

[class*="cylinder"] {
  
}