:root {
  --darker-orange: rgb(208, 75, 42);
  --lighter-orange: rgb(231, 94, 38);
  --darker-blue: #144c7e;
  --lighter-blue: #345973;
  --yellow: #fbae08;
  --bg-gray: #e6e6e6;
  --element-bg-gray: #c8c8c8;
  --drop-shadow: #8e8e8e;
  --popup-bg: rgb(0,0,0,0.4);
}

/* DOM styles */

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
span {
    font-size: 16px;
    font-weight: 400;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.hide {
  visibility: hidden;
}

.delete {
  display: none;
}

/* Container styles */
#appContainer {
  width:940px;
  height: 564px;
  margin: auto;
  padding-top: 5px;
  background-color: var(--bg-gray);
  overflow: hidden;
  border-radius: 4px;
}

.container {
  width: 900px;
  height: 540px;
  perspective: 650px;
  margin: 10px auto 0px auto;
  overflow: hidden;
  color:white;
  /* z-index: 4; */
}

#dashContainer {
  height: 0px;
}

.dashItem {
  position: relative;
}

#mapContainer {
  left: 38px;
  top: -526px;
}

#messagesContainer {
  height: 60px;
  width: 380px;
  background-color: rgb(0,0,0,0.4);
  padding: 10px;
  left: 268px;
  bottom: 664px;
  border-radius: 4px;
}

#popupContainer {
  position: absolute;
  z-index: 1;
  width: 940px;
  margin: auto;
  top: 0px;
  transition-duration: 0.75s;
}

#healthContainer {
  display: inline-block;
  width: 26%;
  height: 80px;
  left:650px;
  top:-610px;
}

#health {
  perspective: 800px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
  transition: transform 1.3s;
}

#controlsContainer {
  left: 400px;
  top: -774px;
  height: 100px;
  width: 140px;
}

#devControls {
  left: 778px;
  top: -420px;
  height: 100px;
  width: 140px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  height: 22px;
  width: 22px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.c3dContainer {
  transform-style: preserve-3d;
}

#backButton {
  color: white;
  position: relative;
  height:20px;
  width:80px;
  background-color: rgb(0,0,0,0.4);
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  bottom:640px;
  left:100px;
  opacity:0;
}
#backButton:hover{
  background-color: var(--lighter-orange);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
#backButton:active{
  background-color: var(--darker-orange);
  box-shadow: inset 0px 0px 4px rgb(0 0 0 / 30%);
}
.controlButton {
  color: white;
  position: relative;
  height:200px;
  width:30px;
  background-color: rgb(0,0,0,0.2);
  border-radius: 0px;
  text-align: center;
  padding: 4px;
  opacity:1;
}
.controlButton:hover {
  background-color: var(--lighter-orange);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.controlButton:active {
  background-color: var(--darker-orange);
  box-shadow: inset 0px 0px 4px rgb(0 0 0 / 30%);
}
.controlButton > span {
  position: relative;
  top: 44%;
  font-weight: bolder;
}
#leftButton {
  bottom: 624px;
  left:20px;
}
#rightButton {
  bottom: 832px;
  left: 882px;
}
#cards{
  visibility: visibile;
  transition: visibility 0.5s ease-in-out 1s;
}
.popup3d-Container{
  transform-style: preserve-3d;
  position: absolute;
}
.popup3d {
  position: absolute;
  height:10px;
  width:44px;
  background-color: var(--popup-bg);
  border-radius: 4px;
  text-align: center;
  padding: 2px;
  font-size: xx-small;
}
#equipment-card{
  transform: translate3d(762px,6px,200px) rotateY(1deg);
}
#computer-card{
  transform: translate3d(884px,4px,418px) rotateY(-90deg);
}
#resources-card{
  transform: translate3d(622px,28px,360px) rotateY(90deg);
}
#references-card{
  transform: translate3d(896px,4px,302px) rotateY(-90deg);
}

/* CSS Grid styles */
.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 3px;
}

.gridItem2 {
  padding: 20px;
  text-align: center;
}

.containerSm {
  width: 100%;
  height: 100%;
  perspective: 650px;
  margin: auto;
  transform: translate3d(38px, 36px, 0px);
  color:white;
  /* z-index: 4; */
}

.grid-1col {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-1col

/* Interactive element styles (buttons, popups, etc.) */
.interactive {
  cursor: pointer;
}
#mapIcon {
  width:60px;
  height:auto;
}
.button {
  background-color: var(--darker-orange);
  color: white;
}

.button:hover {
  background-color:var(--lighter-orange);
}

.button:active {
  background-color:var(--yellow);
}

.buttonChoice {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto auto auto auto;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  border-radius: 3px;
}

.buttonChoice:hover {
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 24%), 0 4px 12px 0 rgb(0 0 0 / 19%);
}

.btn-part-control {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-confirm {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-cancel {
  background-color: #b12020; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-scenario-control {
  background-color: #4c72ae; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.close {
  background-color: #a71616;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 7px 10px;
}

.keys {
  position: relative;
  width: 80px;
  margin: auto;
}

.key {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 1px;
  font-size: 14px;
  overflow: hidden;
  margin-top: 6px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: color 0.25s ease, background 0.25s ease;
}

.key .activated :not(.inactive):hover {
  background: whiteSmoke;
  color: #222;
  background-clip: padding-box;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 
      color 0s ease, 
      background 0s ease;
  
}

.key .inactive {
  opacity: 0.5;
}
  
.key :nth-child(2n+2) {
  position: absolute; 
  bottom: 0;
  left: 104%;
}
  
.key :nth-child(4n) {
  left: -104%;
}

.popup {
  margin: 5% auto 5% auto;
  font-size: 1.5rem;
  position: absolute;
  padding: 10px;
  border-radius: 4px;  
  width: 894px;
  height: 530px;
  display: none;
  top: -30px;
  left: 14px;
  background: rgb(0,0,0,0.8);
  border: 1px solid black;
  color:white;
  opacity: 1;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

#popupA {
  
}

#popupB {
  margin: 5% auto 5% auto;
  font-size: 1.5rem;
}

#popupB img {
  width:auto;
  height: 94%;
  padding: 20px;
  margin: auto;
}

#message {
  color: white;
}

#training-checklist {
  text-align: left;
  margin-left:30%;
}

li.complete {
  list-style: none;
}

li.incomplete {
  list-style: none;
}
.complete:before {
  color:green;
  content: "\2713\0020";
}
.incomplete:before {
  color:red;
  content:"X";
  margin-right: 8px;
}
/* 3D element styling */

/* Primary Scene styling */
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 90%;
  left: 10%;
  margin: -40em 0 0 -40em;
  transition: transform 1.3s;
}

/* Movement Classes */
.face-front {
  transform: translate3d(206px, 0px, 250px) rotateY(0deg);
}
.face-equipment {
  transform: translate3d(238px, -1px, 596px) rotateX(-12deg) rotateY(0deg);
}
.face-left {
  transform: translate3d(730px, 20px, 374px) rotateY(-90deg);
}
.face-back {
  transform: translate3d(517px, 12px, 866px) rotateY(180deg);
}
.face-right {
  transform: translate3d(-14px, 12px, 704px) rotateY(90deg);
}
.face-computer {
  transform: translate3d(-109px, -27px, 1098px) rotateY(90deg);
}

.face-references {
transform: translate3d(120px, 86px, 946px) rotateY(90deg) rotateZ(-14deg);
}

.face-resources {
transform: translate3d(707px, 20px, 518px) rotateY(-90deg) rotateZ(39deg);
}
/* END movement classes */

/* background cube */
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  transform:rotateX(30deg) translateY(-20px);
}

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  
  background-position: center;
}

.my-cube {
  position: relative;
  width: 800px;
  height: 400px;
  left: 30%;
  transform-style: preserve-3d;
  transform: translate3d(10px, 200px, 200px); 
}
.myCube-hide {
  visibility:hidden;
}
.myCube-show {
  visibility:visible;
}

.myCube-face {
  width: 800px;
  height: 400px;
  background: skyblue;
  border: 0px solid black;
  position: absolute;
  opacity: .9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  background-size: contain;
  background-repeat:no-repeat;
}

.myCube-bt {
  width: 800px;
  height: 1000px;
  background: skyblue;
  border: 0px solid black;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.myCube-front {
  transform: translateZ(500px) rotateY(180deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/frontFaceTexture.jpg);
}

.myCube-back {
  transform: translateZ(-500px);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/backFaceTexture.jpg);
}

.myCube-left {
  transform: translateX(-500px) rotateY(-270deg);
  width: 1000px;
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/Container-Wall-Long-Left.jpg);
}

.myCube-right {
  transform: translateX(300px) rotateY(270deg);
  width: 1000px;
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/Container-Wall-Long-Right.jpg);
}

.myCube-top {
  transform: translateY(-500px) rotateX(270deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/ceilingTexture2-longdk.png);
}

.myCube-bottom {
  transform: translateY(-100px) rotateX(-270deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/imgs/floorTexture.png);
  background-size: contain;
  background-repeat:repeat;
}

#bertha-manual {
  position:absolute;
  transform-style: preserve-3d;
  height: 80px;
  width:60px;
  transform: translate3d(430px, 51px, 400px) rotateX(90deg) rotateZ(261deg);
}
.img-container {
  
}
.img-card-3d {
  height:100%;
  width:100%;
}

/* tridiv styles */

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}

[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}
/* Object Styles */
.tp, .bm {
  backface-visibility: visible;
}

#table01 {
  transform: translate3d(418px,224px,600px) scale(0.75) rotateY(90deg);
}

#table02 {
  transform: translate3d(-253px,224px,600px) scale(0.75) rotateY(90deg);
}

#docCab01 {
  transform: translate3d(500px,98px,180px) rotateY(-90deg) scale(1.75);
}

#flLight01 {
  transform: translate3d(-92px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#flLight02 {
  transform: translate3d(164px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#flLight03 {
  transform: translate3d(410px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#monitor01 {
  transform: translate3d(512px,90px,469px) rotateY(270deg) rotateX(0deg) scale(1.5);
}

#plug01 {
  transform: translate3d(-108px,-32px,-295px) rotateY(0deg) rotateX(0deg) rotateZ(180deg) scale(0.4);
}

#afssBody01 {
  transform: translate3d(132px,58px,-233px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleY(0.2) scaleZ(0.2);
}

#afssDoor01 {
  transform: translate3d(100px,56px,-168px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.17) scaleZ(0.17) scaleY(0.17);
  transition-duration: 2s;
}

#afssDoor01.afssDoor-open {
  transform: translate3d(100px,56px,-162px) rotateY(-140deg) rotateX(0deg) rotateZ(0deg) scaleX(0.17) scaleZ(0.17) scaleY(0.17);
}

#afssStand01 {
  transform: translate3d(132px,153px,-290px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleZ(0.2) scaleY(0.2);
}

#afssStand02 {
  transform: translate3d(132px,153px,-177px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleZ(0.2) scaleY(0.2);
}

#manualSm01 {
  transform: translate3d(430px, 51px, 400px) rotateX(90deg) rotateZ(261deg) scaleX(0.5) scaleZ(0.5) scaleY(0.5);
}

/* HEALTH - Cube Hearts Position and Animations */
#cubeHeart01 .healthy {
  transform: translate3d(-100px,25px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
}

#cubeHeart02 .healthy {
  transform: translate3d(0px,25px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
}

#cubeHeart03 .healthy {
  transform: translate3d(100px,25px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
}

.healthHeart {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  
#cubeHeart01.healthy{
  animation-name: rotateHeart01;
}

#cubeHeart01.sick {
  animation-name: rotateHeart01sick;
}

@keyframes rotateHeart01 {
  from {
    transform: translate3d(-75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(-75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

@keyframes rotateHeart01sick {
  from {
    transform: translate3d(-75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
  to {
    transform: translate3d(-75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
}

#cubeHeart02.healthy{
  animation-name: rotateHeart02;
}

#cubeHeart02.sick {
  animation-name: rotateHeart02sick;
}

@keyframes rotateHeart02 {
  from {
    transform: translate3d(0px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(0px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

@keyframes rotateHeart02sick {
  from {
    transform: translate3d(0px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
  to {
    transform: translate3d(0px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
}

#cubeHeart03.healthy{
  animation-name: rotateHeart03;
}

#cubeHeart03.sick {
  animation-name: rotateHeart03sick;
}

@keyframes rotateHeart03 {
  from {
    transform: translate3d(75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

@keyframes rotateHeart03sick {
  from {
    transform: translate3d(75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
  to {
    transform: translate3d(75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.06) scaleZ(0.06) scaleY(0.06);
  }
}

@keyframes glow {
    0% {
		border-color: #929933;
		box-shadow: 0 0 5px rgba(238,255,0,.4);
    }	
    100% {
		border-color: #fcff66;
		box-shadow: 0 0 20px rgba(238,255,0,.8);
    }
}

.popup3d:hover {
  animation: glow 800ms ease-out infinite alternate;
}