:root {
  --darker-orange: rgb(208, 75, 42);
  --lighter-orange: rgb(231, 94, 38);
  --darker-blue: #144c7e;
  --lighter-blue: #345973;
  --yellow: #fbae08;
  --bg-gray: #e6e6e6;
  --element-bg-gray: #c8c8c8;
  --drop-shadow: #8e8e8e;
  --popup-bg: rgb(0,0,0,0.6);
}

/* DOM styles */

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

/* DOM Extensions */
span.left {
  text-align: left;
}

span.right {
  text-align: right;
}

span.center {
  text-align: center;
}

/* GENERIC */
.hide {
  visibility: hidden;
}

.delete {
  display: none;
}

/* Container styles */
#appContainer {
  width:940px;
  height: 564px;
  margin: auto;
  padding-top: 5px;
  background-color: var(--bg-gray);
  overflow: hidden;
  border-radius: 4px;
}

.container {
  width: 900px;
  height: 540px;
  perspective: 650px;
  margin: 10px auto 0px auto;
  overflow: hidden;
  color:white;
  /* z-index: 4; */
}

#dashContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: 34px;
  margin-left: 20px;
  width: 900px;
  height: 530px;
  pointer-events: none;
}

.dashItem {}

.emptyGridBlock {
  grid-area: 2 / 2 / 3 / 3;
}

#helpContainer {
  grid-area: 1 / 1 / 2 / 2;
  /*height: 30px;
  width: 20px;*/
  transition-duration: 1s;
}

#infoBtn {
  pointer-events: all;
}

#messagesContainer {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

#messageBox {
  height: 16px;
  width: 164px;
  background-color: rgb(0,0,0,0.8);
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 80px;
  pointer-events: all;
}

#messageBox:hover {
  height: auto;
  width: 410px;
  border-radius: 4px;
}

#messageLabel {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
}

#message {
  opacity: 0;
  transition: display 0.2s;
/*  position: relative;  */
}

#messageBox:hover #message {
  transition: opacity 0.25s 0.55s;
  opacity: 1;
  /*position: relative;
  left: 0;*/
}

#healthContainer {
  grid-area: 1 / 3 / 2 / 4;
  /*display: inline-block;
  width: 2%;
  height: 80px;*/
}

#health {
  /*perspective: 800px;
  position: absolute;*/
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
  transition: transform 1.3s;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  height: 22px;
  width: 22px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.c3dContainer {
  transform-style: preserve-3d;
}

.c3dContainer.healthHeart {
  transform: translate3d(80px, 16px, 10px)
}

.controlButton {
  color: white;
  position: relative;
  height:200px;
  width:30px;
  background-color: rgb(0,0,0,0.2);
  border-radius: 0px;
  text-align: center;
  padding: 4px;
  opacity:1;
  top: 50px;
  pointer-events: all;
}
.controlButton:hover {
  background-color: var(--lighter-orange);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.controlButton:active {
  background-color: var(--darker-orange);
  box-shadow: inset 0px 0px 4px rgb(0 0 0 / 30%);
}
.controlButton > span {
  position: relative;
  top: 44%;
  font-weight: bolder;
}
#leftButton {
  grid-area: 2 / 1 / 3 / 2;
}
#rightButton {
  grid-area: 2 / 3 / 3 / 4;
  justify-self: end;
}
#cards{
  visibility: visible;
  transition: visibility 0.5s ease-in-out 1s;
}

#equipment-card{
  transform: translate3d(768px,6px,210px) rotateY(1deg);
}
#computer-card{
  transform: translate3d(884px,4px,418px) rotateY(-90deg);
}
#resources-card{
  transform: translate3d(660px,-10px,372px) rotateY(90deg);
}
#forms-card{
  transform: translate3d(896px,4px,310px) rotateY(-90deg);
}

/* CSS Grid styles */
.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 3px;
}

.gridItem2 {
  padding: 20px;
  text-align: center;
}

.containerSm {
  width: 100%;
  height: 50%;
  pointer-events: all;
  transform: translate(20px, 0px);
}

.grid-1col {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.popup.feedback .grid-1col span {
  padding: 26px;
}

.grid-2col .grid-1col {
  grid-area: 1 / 1 / 2 / 3;
  align-self: end;
}

.grid-2col .responseBtns {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

#popupProcessMap {
  background-color: white;
  left: 12px;
}

#processMap {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 48px;
  left: 98px;
}
#processMap div.glow {
  animation: mapglow 800ms ease-out infinite alternate;
}
.pmap-icon1 {
  position: relative;  
  grid-area: 1 / 1 / 2 / 2;
}
.pmap-icon2 {
  position: relative;  
  grid-area: 1 / 2 / 2 / 4;
}
.pmap-icon3 {
  position: relative;  
  grid-area: 1 / 4 / 2 / 5;
}
.pmap-icon4 {
  position: relative;  
  grid-area: 1 / 5 / 2 / 7;
}
.pmap-icon5 {
  position: relative;  
  grid-area: 1 / 7 / 2 / 8;
}
.pmap-icon6 {
  position: relative;  
  grid-area: 1 / 8 / 3 / 9;
}
.pmap-icon7 {
  position: relative;  
  grid-area: 2 / 7 / 3 / 8;
}
.pmap-icon8 {
  position: relative;  
  grid-area: 2 / 5 / 3 / 7;
}
.pmap-icon9 {
  position: relative;  
  grid-area: 2 / 4 / 3 / 5;
}
.pmap-icon10 {
  position: relative;  
  grid-area: 2 / 2 / 3 / 4;
 }
.pmap-icon11 {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
 }
.pmap-icon12 {
  position: relative;
  grid-area: 3 / 1 / 4 / 2;
 }
.pmap-icon13 {
  position: relative;
  grid-area: 3 / 2 / 4 / 3;
 }
.pmap-icon14 {
  position: relative;
  grid-area: 3 / 3 / 4 / 5;
 }
.pmap-icon15 {
  position: relative;
  grid-area: 3 / 5 / 4 / 6;
 }
.pmap-icon16 {
  position: relative;
  grid-area: 3 / 6 / 4 / 7;
 }
.pmap-icon17 {
  position: relative;
  grid-area: 3 / 7 / 4 / 8;
 }

/* Interactive element styles (buttons, etc.) */
.interactive {
  cursor: pointer;
}

#infoIcon {
  font-size: 2em;
  font-weight: 900;
  font-family: system-ui;
  position: absolute;
  left: 4px;
  top: 4px;
}

#mapIcon {
  width: 25px;
  height: auto;
  left: 20px;
  top: 10px;
  opacity: 0;
  position:absolute;
  transition-duration: 1s;
}

#helpIcon {
  font-size: 2em;
  font-weight: 900;
  font-family: system-ui;
  position: absolute;
  left: 4px;
  top: 4px;
}

.button {
  background-color: var(--darker-orange);
  color: white;
}

.button:hover {
  background-color:var(--lighter-orange);
}

.button:active {
  background-color:var(--yellow);
}

.buttonChoice {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto auto auto auto;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  border-radius: 3px;
  padding: 10px 18px;
}

.buttonChoice.respond-yes {
  background-color: green;
}

.buttonChoice.respond-no {
  background-color: red;
}

.buttonChoice:hover {
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 24%), 0 4px 12px 0 rgb(0 0 0 / 19%);
}

.btn-part-control {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-confirm {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-cancel {
  background-color: #b12020; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
}

.btn-scenario-control {
  background-color: #4c72ae; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.close {
  background-color: #a71616;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 7px 10px;
}

.keys {
  position: relative;
  width: 80px;
  margin: auto;
}

.key {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 1px;
  font-size: 14px;
  overflow: hidden;
  margin-top: 6px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: color 0.25s ease, background 0.25s ease;
}

.key .activated :not(.inactive):hover {
  background: whiteSmoke;
  color: #222;
  background-clip: padding-box;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 
      color 0s ease, 
      background 0s ease;
  
}

.key .inactive {
  opacity: 0.5;
}
  
.key :nth-child(2n+2) {
  position: absolute; 
  bottom: 0;
  left: 104%;
}
  
.key :nth-child(4n) {
  left: -104%;
}
#message {
  color: white;
}

#training-checklist {
  text-align: left;
  margin-left:30%;
}

li.complete {
  list-style: none;
}

li.incomplete {
  list-style: none;
}
.complete:before {
  color:green;
  content: "\2713\0020";
}
.incomplete:before {
  color:red;
  content:"X";
  margin-right: 8px;
}
/* POPUPS */
#popupContainer {
  position: absolute;
  z-index: 1;
  width: 940px;
  margin: auto;
  top: 0px;
  transition-duration: 0.75s;
}
.popup {
  margin: 5% auto 5% auto;
  font-size: 1.5rem;
  position: absolute;
  padding: 10px;
  border-radius: 4px;  
  width: 894px;
  height: 530px;
  display: none;
  top: -30px;
  left: 14px;
  background: var(--popup-bg);
  border: 1px solid black;
  color:white;
  opacity: 0;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: opacity 0.5s;
}

.popup3d-Container{
  transform-style: preserve-3d;
  position: absolute;
}
.popup3d {
  position: absolute;
  height:10px;
  width:44px;
  background-color: var(--popup-bg);
  border-radius: 4px;
  text-align: center;
  padding: 2px;
  font-size: xx-small;
}
.popup3d.glow {
  animation: glow 800ms ease-out infinite alternate;
}
.popupGeneric{}

.popup .loaded {
  padding: 10px;
  border-radius: 4px;
  min-height: 60%;
  min-width: 60%;
  max-width: 96%;
  max-height: 96%;
}

.popup.intro .loaded {
  background-color: rgb(0,0,0,0.9);
}

.popup.challenges .loaded {
  background-color: rgb(110,0,0,0.9);
}

.popup.option .loaded {
  background-color: rgb(0,0,0,0.9);
}

.popup.feedback .loaded {
  background-color: rgb(0,60,0,0.9);
}

.challenges{
  background: rgb(0,0,0,0.6);
  border: 1px solid black;
}
.feedback{
  background: rgb(0,0,0,0.6);
  border: 1px solid black;
}
#feedbackText h2 {
  align-self: end;
}
.documents{}
.outro{
  background: var(--darker-orange);
  border: 1px solid black;
}

#gameOverSuccess {
  width: 90%;
}
#gameOverFail {
  width: 90%;
}
/* 3D element styling */

/* Primary Scene styling */
.scene, .c3dContainer, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 90%;
  left: 10%;
  margin: -40em 0 0 -40em;
  transition: transform 1.3s;
}

/* Movement Classes */
.face-front {
  transform: translate3d(206px, 0px, 250px) rotateY(0deg);
}
.face-left {
  transform: translate3d(730px, 20px, 450px) rotateY(-90deg);
}
.face-rLeft {
  transform: translate3d(730px, 20px, 450px) rotateY(270deg);
}
.face-lBack {
  transform: translate3d(517px, 12px, 866px) rotateY(-180deg);
}
.face-rBack {
  transform: translate3d(517px, 12px, 866px) rotateY(180deg);
}
.face-right {
  transform: translate3d(-14px, 12px, 724px) rotateY(90deg);
}
.face-lRight {
  transform: translate3d(-20px, 12px, 724px) rotateY(-270deg);
}
.face-equipment {
  transform: translate3d(225px, -1px, 596px) rotateX(-12deg) rotateY(0deg);
}
.face-computer {
  transform: translate3d(-109px, -10px, 1052px) rotateY(90deg);
}
.face-forms {
transform: translate3d(112px, 86px, 946px) rotateY(90deg) rotateZ(-14deg);
}
.face-resources {
transform: translate3d(707px, 20px, 518px) rotateY(-90deg) rotateZ(39deg);
}

.notransition {
  transition: none !important;
}
/* END movement classes */

/* background cube */
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  transform:rotateX(30deg) translateY(-20px);
}

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  
  background-position: center;
}

.my-cube {
  position: relative;
  width: 800px;
  height: 400px;
  left: 30%;
  transform-style: preserve-3d;
  transform: translate3d(10px, 200px, 200px); 
}
.myCube-hide {
  visibility:hidden;
}
.myCube-show {
  visibility:visible;
}

.myCube-face {
  width: 800px;
  height: 400px;
  background: skyblue;
  border: 0px solid black;
  position: absolute;
  opacity: .9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  background-size: contain;
  background-repeat:no-repeat;
}

.myCube-bt {
  width: 800px;
  height: 1000px;
  background: skyblue;
  border: 0px solid black;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.myCube-front {
  transform: translateZ(500px) rotateY(180deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/frontFaceTexture.jpg);
}

.myCube-back {
  transform: translateZ(-500px);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/backFaceTexture.jpg);
}

.myCube-left {
  transform: translateX(-500px) rotateY(-270deg);
  width: 1000px;
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/Container-Wall-Long-Left.jpg);
}

.myCube-right {
  transform: translateX(300px) rotateY(270deg);
  width: 1000px;
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/Container-Wall-Long-Right.jpg);
}

.myCube-top {
  transform: translateY(-500px) rotateX(270deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/ceilingTexture2-longdk.png);
}

.myCube-bottom {
  transform: translateY(-100px) rotateX(-270deg);
  background-image: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/imgs/floorTexture.png);
  background-size: contain;
  background-repeat:repeat;
}

#bertha-manual {
  position:absolute;
  transform-style: preserve-3d;
  height: 80px;
  width:60px;
  transform: translate3d(430px, 51px, 400px) rotateX(90deg) rotateZ(261deg);
}

#zombie-hand {
  position:absolute;
  transform-style: preserve-3d;
  height: 197px;
  width: 198px;
  transform: translate3d(443px,-171px,698px) rotateY(181deg) scale(0.55);
}

.process-icon-img {
  height: 60px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

.process-icon-img.currentStep {
  animation: mapglow 800ms ease-out infinite alternate;
}

.process-icon-img.wide {
  width: 80px;
  height: auto;
}

.process-arrow-img {
  width: 80px;
}

.process-arrow-img.down {
  transform-origin: 0% 100%;
  transform: rotate(90deg);
  position: relative;
  left: 34px;
  top: -46px;
}

.process-arrow-img.downR {
  transform-origin: 0% 100%;
  transform: rotate(45deg);
  position: relative;
  top: -20px;
}

.process-arrow-img.left {
  transform-origin: 0% 100%;
  transform: rotate(180deg);
  position: relative;
  left: 74px;
  top: -18px;
}

#process-map-instructions {
  position: absolute;
  bottom: 20px;
  color: black;
}

#processMap div .stepInfo {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.process-icon-img:hover + .stepInfo {
  visibility: visible !important;
}

.img-card-3d {
  height:100%;
  width:100%;
}

/* tridiv styles */

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}

[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}
/* Object Styles */
.tp, .bm {
  backface-visibility: visible;
}

#table01 {
  transform: translate3d(390px,224px,600px) scale(0.75) rotateY(90deg);
}

#table02 {
  transform: translate3d(1050px,224px,600px) scale(0.75) rotateY(90deg);
}

#docCab01 {
  transform: translate3d(1128px,54px,257px) rotateY(-90deg) scaleX(0.3) scaleY(0.3) scaleZ(0.3);
}

#flLight01 {
  transform: translate3d(-92px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#flLight02 {
  transform: translate3d(164px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#flLight03 {
  transform: translate3d(410px,-193px,329px) rotateY(90deg) rotateX(180deg);
}

#monitor01 {
  transform: translate3d(1140px,90px,469px) rotateY(270deg) rotateX(0deg) scaleX(0.24) scaleY(0.24) scaleZ(0.24);
}

#afssBody01 {
  transform: translate3d(790px,58px,-233px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleY(0.2) scaleZ(0.2);
}

#afssDoor01 {
  transform: translate3d(759px,55px,-168px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.17) scaleZ(0.17) scaleY(0.17);
  transition-duration: 2s;
}

#afssDoor01.afssDoor-open {
  transform: translate3d(759px,55px,-162px) rotateY(-140deg) rotateX(0deg) rotateZ(0deg) scaleX(0.17) scaleZ(0.17) scaleY(0.17);
}

#afssStand01 {
  transform: translate3d(790px,153px,-290px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleZ(0.2) scaleY(0.2);
}

#afssStand02 {
  transform: translate3d(790px,153px,-177px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.2) scaleZ(0.2) scaleY(0.2);
}

#manualSm01 {
  transform: translate3d(-174px, 91px, 322px) rotateX(0deg) rotateY(65deg) scaleX(0.75) scaleZ(0.75) scaleY(0.75);
}

#keyboardSimp01 {
  transform: translate3d(1090px, 90px, 469px) rotateX(0deg) rotateY(90deg) scaleX(0.4) scaleZ(0.4) scaleY(0.4);
}

#laptop01 {
  transform: translate3d(1138px, 90px, 566px) rotateX(0deg) rotateY(90deg) scaleX(0.3) scaleZ(0.3) scaleY(0.3);
}

#mouse01 {
  transform: translate3d(1086px, 91px, 538px) rotateX(0deg) rotateY(-90deg) scaleX(0.125) scaleZ(0.125) scaleY(0.125);
}

#coffeeCup01 {
  transform: translate3d(502px, 74px, 230px) rotateX(0deg) rotateY(178deg) scaleX(0.25) scaleZ(0.25) scaleY(0.25);
}

#cupSteam {
  transform: translate3d(-12px, -284px, -115px) rotateX(0deg) rotateY(-90deg) scaleX(0.2) scaleY(0.2);
}

#cupSteam img {
  width: auto;
  height: auto;
}

/* HEALTH - Cube Hearts Position and Animations */
.cubeHeart {
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
#cubeHeart01 .cubeHeart {
  animation-name: rotateHeart01;
  transform: translate3d(-75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);;
}
@keyframes rotateHeart01 {
  from {
    transform: translate3d(-75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(-75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

#cubeHeart02 .cubeHeart {
  animation-name: rotateHeart02;
  transform: translate3d(0px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
}

@keyframes rotateHeart02 {
  from {
    transform: translate3d(0px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(0px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

#cubeHeart03 .cubeHeart {
  animation-name: rotateHeart03;
  transform: translate3d(75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
}

@keyframes rotateHeart03 {
  from {
    transform: translate3d(75px,0px,0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
  to {
    transform: translate3d(75px,0px,0px) rotateY(360deg) rotateX(0deg) rotateZ(0deg) scaleX(0.1) scaleZ(0.1) scaleY(0.1);
  }
}

@keyframes glow {
    0% {
		border-color: #d79942;
		box-shadow: 0 0 2px rgba(215, 153, 66, 0.4);
    }	
    100% {
		border-color: #fdff85;
		box-shadow: 0 0 8px rgba(253, 255, 133, 0.8);
    }
}
@keyframes mapglow {
    0% {
		border-color: #d79942;
		box-shadow: 0 0 2px rgba(215, 153, 66, 0.4);
    }	
    100% {
		border-color: #fdff85;
		box-shadow: 0 0 8px rgba(253, 255, 133, 0.8);
    }
}
.btn {
  background: #111;
  color: #fff;
  /*margin: 1em;*/
  border: none;
  transition: all 0.4s;
  padding: 1em 0em 1em 3em;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: .05em;
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 1em;
  width: 0;
  max-width: 0;
  left: 36px;
}

.btn i {
    position: absolute;
    left: .75em;
    top: .75em; 
  }
  
 .btn i.fa {
    font-size: 1.25em;
  }
  
 .btn .text {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s, text-shadow 0.2s 0s;
    transition-delay: 0s;
    min-width: 100px;
    transform: translateX(.5em);
  }

.btn .text2 {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s, text-shadow 0.2s 0s;
    transition-delay: 0s;
    min-width: 100px;
    transform: translateX(.5em);
  }

.btn.expand, .expand-on-hover:hover {
  padding: 1em 2em 1em 5.4em;
  max-width: 10em;
  width: auto;
}

.btn.expand, .expand-on-hover:hover .text {
    opacity: 1;
    transition-delay: .3s;
    min-width: inherit;
    transform: translateX(3.4em);
}

.btn.expand, .expand-on-hover:hover .text2 {
    opacity: 1;
    transition-delay: .3s;
    min-width: inherit;
    transform: translateX(1.7em);
  }
/* icons */

.icon {
  font-size: 1.2em;
}

.expand-on-hover:hover .info {
  color: rgb(255,255,255,0.6);
}

.text:hover {
  text-shadow: 0px 0px 2px #FFFFFF;
}

.text2:hover {
  text-shadow: 0px 0px 2px #FFFFFF;
}

/* colors https://www.grabient.com/ */

.red {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

/* Slide Styles */
.loadedPContainer {
  width: 94%;
  height: auto;
  margin: auto;
  padding: 3%;
  border-radius: 4px;
}

.loadedPContainer p {
  color: white;
  font-size: 0.75em;
}

.loadedPContainer img {
  margin: auto;
  display: block;
  border-radius: 4px;
}

.slideBtn {
  color: white;
  position: absolute;
  height: 20px;
  width: auto;
  background-color: var(--darker-orange);
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  padding-bottom: 16px;
  bottom: 12px;
  right: 16px;
}

.slideBtn.disabled {
  color: black;
  background-color: lightgray;
}

.slideBtn:hover {
  background-color: var(--lighter-orange);
}

.slideBtn.disabled:hover {
  background-color: gray;
}

.slideBtn:active {
  background-color: var(--darker-orange);
}

.slideBtn.disabled:active {
  color: white;
  background-color: darkgray;
}

.slideBtn.respond-yes {
  background-color: darkgreen !important;
}
.slideBtn.respond-yes:hover {
  background-color: green !important;
}
.slideBtn.respond-yes:active {
  background-color: darkgreen !important;
}
.slide {
  display:none;
}

.slide:nth-of-type(1){
  display:block;
}

/* CSS Arrow Styling */
.lArrowContainer {
  padding: 40px;
  margin: auto;
  width: 140px;
}
.rArrowContainer {
  padding: 40px;
  margin: auto;
  width: 140px;
  transform: rotate(180deg);
}
.dArrowContainer {
  padding: 40px;
  margin: auto;
  width: 140px;
  transform: rotate(270deg);
}
.arrow-icon {
    transform: translateX(0) translateZ(0);
}
.arrow-bar {
    width: 130px;
    height: 5px;
    background-color: var(--lighter-orange);
    position: absolute;
    top: 2px;
    transform: translateZ(0);
}

.arrow-triangle {
    border-bottom: solid 6px transparent;
    border-right: solid 6px transparent;
    border-left: solid 6px var(--lighter-orange);
    border-top: solid 6px var(--lighter-orange);
    transform: rotate(-45deg) translateX(-6px);
    transform-origin: calc(50% - 6px) 0;
    width: 0;
    height: 0;
}

/* Curved Arrow */

/* Arrow */
.curvedArrow {
    position: relative;
    margin: 0 auto;
    width: 100px;
    transform: rotate(322deg);
    top: -69px;
    left: 31px;
}

.curvedArrow .curve {
    border: 6px solid var(--lighter-orange);
    border-color: transparent transparent transparent var(--lighter-orange);
    height: 113px;
    width: 68px;
    border-radius: 261px 0 0 200px;
}

.curvedArrow .point {
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 8px solid var(--lighter-orange);
    border-right: 8px solid var(--lighter-orange);
    left: 10px;
    top: 97px;
}

.curvedRoundArrow {
    position: relative;
    margin: 0 auto;
    width: 100px;
}
.flipped {
    transform: translateX(-42px) scaleX(-1);
}

.curvedRoundArrow .curve {
    border: 6px solid var(--lighter-orange);
    border-color: transparent transparent transparent var(--lighter-orange);
    height: 102px;
    width: 45px;
    border-radius: 200px 0 0 200px;
}

.curvedRoundArrow .point {
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 8px solid var(--lighter-orange);
    border-right: 8px solid var(--lighter-orange);
    left: 41px;
    top: 102px;
    transform: rotate(326deg);
}

#pmap-icon12 .curvedArrow {
  top: -64px;
  left: 35px;
  transform: rotate(330deg);
}