/* .DocCab-T styles */
.DocCab-T {
  transform:translate3D(2.125em, -2.125em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.25em;
  margin:-0.125em 0 0 -2em;
}
.DocCab-T .ft {
  transform:translateZ(1em);
}
.DocCab-T .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.DocCab-T .rt, .DocCab-T .lt {
  width:2em;
  height:0.25em;
}
.DocCab-T .tp, .DocCab-T .bm {
  width:4em;
  height:2em;
}
.DocCab-T .face {
  background-color:#5c5c5c;
}
/* .DocCab-B styles */
.DocCab-B {
  transform:translate3D(2.125em, -0.375em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.25em;
  margin:-0.125em 0 0 -2em;
}
.DocCab-B .ft {
  transform:translateZ(1em);
}
.DocCab-B .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.DocCab-B .rt, .DocCab-B .lt {
  width:2em;
  height:0.25em;
}
.DocCab-B .tp, .DocCab-B .bm {
  width:4em;
  height:2em;
}
.DocCab-B .face {
  background-color:#5c5c5c;
}
.DocCab-B .tp {
  background-color:#373737;
}
/* .DocCab-Bk styles */
.DocCab-Bk {
  transform:translate3D(2.125em, -1.25em, 0.125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:2em;
  margin:-1em 0 0 -2em;
}
.DocCab-Bk .ft {
  transform:translateZ(0.125em);
}
.DocCab-Bk .bk {
  transform:translateZ(-0.125em) rotateY(180deg);
}
.DocCab-Bk .rt, .DocCab-Bk .lt {
  width:0.25em;
  height:2em;
}
.DocCab-Bk .tp, .DocCab-Bk .bm {
  width:4em;
  height:0.25em;
}
.DocCab-Bk .face {
  background-color:#5c5c5c;
}
/* .DocCab-L styles */
.DocCab-L {
  transform:translate3D(0.125em, -1.25em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.125em;
  height:2em;
  margin:-1em 0 0 -0.0625em;
}
.DocCab-L .ft {
  transform:translateZ(1em);
}
.DocCab-L .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.DocCab-L .rt, .DocCab-L .lt {
  width:2em;
  height:2em;
}
.DocCab-L .tp, .DocCab-L .bm {
  width:0.125em;
  height:2em;
}
.DocCab-L .face {
  background-color:#5c5c5c;
}
/* .DocCab-R styles */
.DocCab-R {
  transform:translate3D(4.125em, -1.25em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.125em;
  height:2em;
  margin:-1em 0 0 -0.0625em;
}
.DocCab-R .ft {
  transform:translateZ(1em);
}
.DocCab-R .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.DocCab-R .rt, .DocCab-R .lt {
  width:2em;
  height:2em;
}
.DocCab-R .tp, .DocCab-R .bm {
  width:0.125em;
  height:2em;
}
.DocCab-R .face {
  background-color:#5c5c5c;
}
/* .DocCab-Shelf4 styles */
.DocCab-Shelf4 {
  transform:translate3D(2.125em, -1em, 0.98em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.01em;
  margin:-0.005em 0 0 -2em;
}
.DocCab-Shelf4 .ft {
  transform:translateZ(0.95em);
}
.DocCab-Shelf4 .bk {
  transform:translateZ(-0.95em) rotateY(180deg);
}
.DocCab-Shelf4 .rt, .DocCab-Shelf4 .lt {
  width:1.9em;
  height:0.01em;
}
.DocCab-Shelf4 .tp, .DocCab-Shelf4 .bm {
  width:4em;
  height:1.9em;
}
.DocCab-Shelf4 .face {
  background-color:#5c5c5c;
}
.DocCab-Shelf4 .tp {
  background-color:#373737;
}
/* .DocCab-Shelf3 styles */
.DocCab-Shelf3 {
  transform:translate3D(2.125em, -1.25em, 0.98em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.01em;
  margin:-0.005em 0 0 -2em;
}
.DocCab-Shelf3 .ft {
  transform:translateZ(0.95em);
}
.DocCab-Shelf3 .bk {
  transform:translateZ(-0.95em) rotateY(180deg);
}
.DocCab-Shelf3 .rt, .DocCab-Shelf3 .lt {
  width:1.9em;
  height:0.01em;
}
.DocCab-Shelf3 .tp, .DocCab-Shelf3 .bm {
  width:4em;
  height:1.9em;
}
.DocCab-Shelf3 .face {
  background-color:#5c5c5c;
}
.DocCab-Shelf3 .tp {
  background-color:#373737;
}
/* .DocCab-Shelf2 styles */
.DocCab-Shelf2 {
  transform:translate3D(2.125em, -1.5em, 0.98em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.01em;
  margin:-0.005em 0 0 -2em;
}
.DocCab-Shelf2 .ft {
  transform:translateZ(0.95em);
}
.DocCab-Shelf2 .bk {
  transform:translateZ(-0.95em) rotateY(180deg);
}
.DocCab-Shelf2 .rt, .DocCab-Shelf2 .lt {
  width:1.9em;
  height:0.01em;
}
.DocCab-Shelf2 .tp, .DocCab-Shelf2 .bm {
  width:4em;
  height:1.9em;
}
.DocCab-Shelf2 .face {
  background-color:#5c5c5c;
}
.DocCab-Shelf2 .tp {
  background-color:#373737;
}
/* .DocCab-Shelf1 styles */
.DocCab-Shelf1 {
  transform:translate3D(2.125em, -1.75em, 0.98em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.01em;
  margin:-0.005em 0 0 -2em;
}
.DocCab-Shelf1 .ft {
  transform:translateZ(0.95em);
}
.DocCab-Shelf1 .bk {
  transform:translateZ(-0.95em) rotateY(180deg);
}
.DocCab-Shelf1 .rt, .DocCab-Shelf1 .lt {
  width:1.9em;
  height:0.01em;
}
.DocCab-Shelf1 .tp, .DocCab-Shelf1 .bm {
  width:4em;
  height:1.9em;
}
.DocCab-Shelf1 .face {
  background-color:#5c5c5c;
}
.DocCab-Shelf1 .tp {
  background-color:#373737;
}
/* .DocCab-Shelf5 styles */
.DocCab-Shelf5 {
  transform:translate3D(2.125em, -0.75em, 0.98em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.01em;
  margin:-0.005em 0 0 -2em;
}
.DocCab-Shelf5 .ft {
  transform:translateZ(0.95em);
}
.DocCab-Shelf5 .bk {
  transform:translateZ(-0.95em) rotateY(180deg);
}
.DocCab-Shelf5 .rt, .DocCab-Shelf5 .lt {
  width:1.9em;
  height:0.01em;
}
.DocCab-Shelf5 .tp, .DocCab-Shelf5 .bm {
  width:4em;
  height:1.9em;
}
.DocCab-Shelf5 .face {
  background-color:#5c5c5c;
}
.DocCab-Shelf5 .tp {
  background-color:#373737;
}
/* .DocCab-Div1 styles */
.DocCab-Div1 {
  transform:translate3D(1.125em, -1.25em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.01em;
  height:1.75em;
  margin:-0.875em 0 0 -0.005em;
}
.DocCab-Div1 .ft {
  transform:translateZ(0.875em);
}
.DocCab-Div1 .bk {
  transform:translateZ(-0.875em) rotateY(180deg);
}
.DocCab-Div1 .rt, .DocCab-Div1 .lt {
  width:1.75em;
  height:1.75em;
}
.DocCab-Div1 .tp, .DocCab-Div1 .bm {
  width:0.01em;
  height:1.75em;
}
.DocCab-Div1 .face {
  background-color:#5c5c5c;
}
/* .DocCab-Div2 styles */
.DocCab-Div2 {
  transform:translate3D(2.125em, -1.25em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.01em;
  height:1.75em;
  margin:-0.875em 0 0 -0.005em;
}
.DocCab-Div2 .ft {
  transform:translateZ(0.875em);
}
.DocCab-Div2 .bk {
  transform:translateZ(-0.875em) rotateY(180deg);
}
.DocCab-Div2 .rt, .DocCab-Div2 .lt {
  width:1.75em;
  height:1.75em;
}
.DocCab-Div2 .tp, .DocCab-Div2 .bm {
  width:0.01em;
  height:1.75em;
}
.DocCab-Div2 .face {
  background-color:#5c5c5c;
}
/* .DocCab-Div3 styles */
.DocCab-Div3 {
  transform:translate3D(3.125em, -1.25em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.01em;
  height:1.75em;
  margin:-0.875em 0 0 -0.005em;
}
.DocCab-Div3 .ft {
  transform:translateZ(0.875em);
}
.DocCab-Div3 .bk {
  transform:translateZ(-0.875em) rotateY(180deg);
}
.DocCab-Div3 .rt, .DocCab-Div3 .lt {
  width:1.75em;
  height:1.75em;
}
.DocCab-Div3 .tp, .DocCab-Div3 .bm {
  width:0.01em;
  height:1.75em;
}
.DocCab-Div3 .face {
  background-color:#5c5c5c;
}