/* .afss-stand styles */
.afss-stand {
  transform:translate3D(0em, 0em, 0em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:25em;
  height:5em;
  margin:-2.5em 0 0 -12.5em;
}
.afss-stand .ft {
  transform:translateZ(15em);
}
.afss-stand .bk {
  transform:translateZ(-15em) rotateY(180deg);
}
.afss-stand .rt, .afss-stand .lt {
  width:30em;
  height:5em;
}
.afss-stand .tp, .afss-stand .bm {
  width:25em;
  height:30em;
}
.afss-stand .face {
  background-color:#b6b17c;
}
.afss-stand .rt {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) 0px 0px;
}
.afss-stand .lt {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) 0px -80px;
}
.afss-stand .ft {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) -424px 0px;
}
.afss-stand .bk {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) -424px -80px;
}
.afss-stand .bm {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) -400px -160px;
}
.afss-stand .tp {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) 0px -160px;
}
.afss-stand .side {
  background: url(../afssStand/AFSS_Stand_Atlas_v1_A1.png) -770px 0px;
}
.afss-stand .ft {
  width:21.5em;
  margin-left:1.75em;
}
.afss-stand .bk {
  width:21.5em;
  margin-left:-1.75em;
}
.afss-stand .rt, .afss-stand .lt {
  width:26.5em;
}
.afss-stand .tp, .afss-stand .bm, .afss-stand .tp .photon-shader, .afss-stand .bm .photon-shader {
  border-radius:1.75em;
}
.afss-stand .cr {
  width:1.75em;
  left:0.875em;
}
.afss-stand .cr-0 {
  transform: translate3D(21.5em, 0, 13.25em);
}
.afss-stand .cr-1 {
  transform: translate3D(21.5em, 0, -13.25em);
}
.afss-stand .cr-2 {
  transform: translate3D(0, 0, -13.25em);
}
.afss-stand .cr-3 {
  transform: translate3D(0, 0, 13.25em);
}
.afss-stand .cr-0 .s0 {
  transform: rotateY(9deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-0 .s1 {
  transform: rotateY(27deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-0 .s2 {
  transform: rotateY(45deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-0 .s3 {
  transform: rotateY(63deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-0 .s4 {
  transform: rotateY(81deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-1 .s0 {
  transform: rotateY(99deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-1 .s1 {
  transform: rotateY(117deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-1 .s2 {
  transform: rotateY(135deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-1 .s3 {
  transform: rotateY(153deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-1 .s4 {
  transform: rotateY(171deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-2 .s0 {
  transform: rotateY(189deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-2 .s1 {
  transform: rotateY(207deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-2 .s2 {
  transform: rotateY(225deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-2 .s3 {
  transform: rotateY(243deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-2 .s4 {
  transform: rotateY(261deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-3 .s0 {
  transform: rotateY(279deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-3 .s1 {
  transform: rotateY(297deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-3 .s2 {
  transform: rotateY(315deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-3 .s3 {
  transform: rotateY(333deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .cr-3 .s4 {
  transform: rotateY(351deg) translate3D(-50%, 0, 1.725em);
}
.afss-stand .side {
  width:0.579345541135877em;
}