/* .plug styles */
.plug {
  transform:translate3D(0em, 0.0625em, 0em) rotateX(-90deg) rotateY(-90deg) rotateZ(0deg);
  opacity:1;
  width:2.5em;
  height:2em;
  margin:-1em 0 0 -1.25em;
}
.plug .ft {
  transform:translateZ(2em);
}
.plug .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.plug .rt, .plug .lt {
  width:4em;
  height:2em;
}
.plug .tp, .plug .bm {
  width:2.5em;
  height:4em;
}
.plug .face {
  background-color:#fafffc;
}
.plug .ft {
  width:2.2em;
  margin-left:0.15em;
}
.plug .bk {
  width:2.2em;
  margin-left:-0.15em;
}
.plug .rt, .plug .lt {
  width:3.7em;
}
.plug .tp, .plug .bm, .plug .tp .photon-shader, .plug .bm .photon-shader {
  border-radius:0.15em;
}
.plug .cr {
  width:0.15em;
  left:0.075em;
}
.plug .cr-0 {
  transform: translate3D(2.2em, 0, 1.85em);
}
.plug .cr-1 {
  transform: translate3D(2.2em, 0, -1.85em);
}
.plug .cr-2 {
  transform: translate3D(0, 0, -1.85em);
}
.plug .cr-3 {
  transform: translate3D(0, 0, 1.85em);
}
.plug .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.125em);
}
.plug .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.125em);
}
.plug .side {
  width:0.10538475772933681em;
}
/* .plug-connector styles */
.plug-connector {
  transform:translate3D(2.25em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.plug-connector .tp, .plug-connector .bm {
  width:1em;
  height:1em;
}
.plug-connector .side {
  width:0.25324347439014994em;
  height:1em;
}
.plug-connector .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.475em);
}
.plug-connector .face, .plug-connector .side {
  background-color:#ffffff;
}