/* .afssBody styles */
.afssBody {
  transform:translate3D(0em, 0em, 0em) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:25em;
  height:40em;
  margin:-20em 0 0 -12.5em;
}
.afssBody .ft {
  transform:translateZ(15em);
}
.afssBody .bk {
  transform:translateZ(-15em) rotateY(180deg);
}
.afssBody .rt, .afssBody .lt {
  width:30em;
  height:40em;
}
.afssBody .lt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) 1092px 0px;
}
.afssBody .rt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) 0px 0px;
}
.afssBody .tp {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) -400px 480px;
}
.afssBody .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) 0px 0px;
}
.afssBody .ft {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) 690px 0px;
}
.afssBody .bk {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom/models/afssBody/AFSS_Body_Atlas_v1_A1.png) -1120px 0px;
}
.afssBody .tp, .afssBody .bm {
  width:25em;
  height:30em;
}
.afssBody .face {
  background-color:#b6b17c;
}
.afssBody .ft {
  width:20em;
  margin-left:2.5em;
}
.afssBody .bk {
  width:20em;
  margin-left:-2.5em;
}
.afssBody .rt, .afssBody .lt {
  width:25em;
}
.afssBody .tp, .afssBody .bm, .afssBody .tp .photon-shader, .afssBody .bm .photon-shader {
  border-radius:2.5em;
}
.afssBody .cr {
  width:2.5em;
  left:1.25em;
}
.afssBody .cr-0 {
  transform: translate3D(20em, 0, 12.5em);
}
.afssBody .cr-1 {
  transform: translate3D(20em, 0, -12.5em);
}
.afssBody .cr-2 {
  transform: translate3D(0, 0, -12.5em);
}
.afssBody .cr-3 {
  transform: translate3D(0, 0, 12.5em);
}
.afssBody .cr-0 .s0 {
  transform: rotateY(9deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-0 .s1 {
  transform: rotateY(27deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-0 .s2 {
  transform: rotateY(45deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-0 .s3 {
  transform: rotateY(63deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-0 .s4 {
  transform: rotateY(81deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-1 .s0 {
  transform: rotateY(99deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-1 .s1 {
  transform: rotateY(117deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-1 .s2 {
  transform: rotateY(135deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-1 .s3 {
  transform: rotateY(153deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-1 .s4 {
  transform: rotateY(171deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-2 .s0 {
  transform: rotateY(189deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-2 .s1 {
  transform: rotateY(207deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-2 .s2 {
  transform: rotateY(225deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-2 .s3 {
  transform: rotateY(243deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-2 .s4 {
  transform: rotateY(261deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-3 .s0 {
  transform: rotateY(279deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-3 .s1 {
  transform: rotateY(297deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-3 .s2 {
  transform: rotateY(315deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-3 .s3 {
  transform: rotateY(333deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .cr-3 .s4 {
  transform: rotateY(351deg) translate3D(-50%, 0, 2.475em);
}
.afssBody .side {
  width:0.8169222016226814em;
}