/* .flLight-Base styles */
.flLight-Base {
  transform:translate3D(8.25em, -0.225em, 0.65em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:16.5em;
  height:0.45em;
  margin:-0.225em 0 0 -8.25em;
}
.flLight-Base .ft {
  transform:translateZ(0.65em);
}
.flLight-Base .bk {
  transform:translateZ(-0.65em) rotateY(180deg);
}
.flLight-Base .rt, .flLight-Base .lt {
  width:1.3em;
  height:0.45em;
}
.flLight-Base .tp, .flLight-Base .bm {
  width:16.5em;
  height:1.3em;
}
.flLight-Base .face {
  background-color:#f5fff8;
}
.flLight-Base .rt {
  background-color:#FFFFFF;
}

/* .flLight-B2 styles */
.flLight-B2 {
  transform:translate3D(8.277777777777779em, -0.6666666666666667em, 0.3333333333333333em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:0.45em;
  height:16em;
  margin:-8em 0 0 -0.225em;
}
.flLight-B2 .tp, .flLight-B2 .bm {
  width:0.45em;
  height:0.45em;
}
.flLight-B2 .side {
  width:0.12770956347556747em;
  height:16em;
}
.flLight-B2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B2 .face, .flLight-B2 .side {
  background-color:#FFFFFF;
}
/* .flLight-B1 styles */
.flLight-B1 {
  transform:translate3D(8.277777777777779em, -0.6756272401433692em, 0.9444444444444443em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:0.45em;
  height:16em;
  margin:-8em 0 0 -0.225em;
}
.flLight-B1 .tp, .flLight-B1 .bm {
  width:0.45em;
  height:0.45em;
}
.flLight-B1 .side {
  width:0.12770956347556747em;
  height:16em;
}
.flLight-B1 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.2em);
}
.flLight-B1 .face, .flLight-B1 .side {
  background-color:#FFFFFF;
}
/* .flLight-BBase1 styles */
.flLight-BBase1 {
  transform:translate3D(0.16666666666666666em, -0.6666666666666667em, 0.6505376344086021em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.2em;
  height:0.5111111111111112em;
  margin:-0.2555555555555556em 0 0 -0.1em;
}
.flLight-BBase1 .ft {
  transform:translateZ(0.65em);
}
.flLight-BBase1 .bk {
  transform:translateZ(-0.65em) rotateY(180deg);
}
.flLight-BBase1 .rt, .flLight-BBase1 .lt {
  width:1.3em;
  height:0.5111111111111112em;
}
.flLight-BBase1 .tp, .flLight-BBase1 .bm {
  width:0.2em;
  height:1.3em;
}
.flLight-BBase1 .face {
  background-color:#FFFFFF;
}
/* .flLight-BBase2 styles */
.flLight-BBase2 {
  transform:translate3D(16.376344086021504em, -0.6666666666666667em, 0.6505376344086018em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:0.2em;
  height:0.5111111111111112em;
  margin:-0.2555555555555556em 0 0 -0.1em;
}
.flLight-BBase2 .ft {
  transform:translateZ(0.65em);
}
.flLight-BBase2 .bk {
  transform:translateZ(-0.65em) rotateY(180deg);
}
.flLight-BBase2 .rt, .flLight-BBase2 .lt {
  width:1.3em;
  height:0.5111111111111112em;
}
.flLight-BBase2 .tp, .flLight-BBase2 .bm {
  width:0.2em;
  height:1.3em;
}
.flLight-BBase2 .face {
  background-color:#FFFFFF;
}