/* .cub-1 styles */
.manualSm {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0.1em;
  margin:-0.05em 0 0 -2em;
}
.manualSm .ft {
  transform:translateZ(2.5em);
}
.manualSm .bk {
  transform:translateZ(-2.5em) rotateY(180deg);
}
.manualSm .rt, .cub-1 .lt {
  width:5em;
  height:0.1em;
}
.manualSm .tp, .cub-1 .bm {
  width:4em;
  height:5em;
}
.manualSm .face {
  background-color:#FFFFFF;
}