/* .mouse styles */
.mouse {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:9em;
  height:3em;
  margin:-1.5em 0 0 -4.5em;
}
.mouse .ft {
  transform:translateZ(7em);
}
.mouse .bk {
  transform:translateZ(-7em) rotateY(180deg);
}
.mouse .rt, .mouse .lt {
  width:14em;
  height:3em;
}
.mouse .tp, .mouse .bm {
  width:9em;
  height:14em;
}
.mouse .rt {
  background: url(models/mouse/Mouse-Atlas_v0.png) 0px -224px;
}
.mouse .lt {
  background: url(models/mouse/Mouse-Atlas_v0.png) 0px -272px;
}
.mouse .ft {
  background: url(models/mouse/Mouse-Atlas_v0.png) -104px -224px;
}
.mouse .bk {
  background: url(models/mouse/Mouse-Atlas_v0.png) -103px -272px;
}
.mouse .tp {
  background: url(models/mouse/Mouse-Atlas_v0.png) 0px 0px;
}
.mouse .bm {
  background: url(models/mouse/Mouse-Atlas_v0.png) 0px 0px;
}
.mouse .cr .side {
  background: url(models/mouse/Mouse-Atlas_v0.png) -128px -272px;
}
.mouse .face {
  background-color:#707070;
}
.mouse .ft {
  width:1.5em;
  margin-left:3.75em;
}
.mouse .bk {
  width:1.5em;
  margin-left:-3.75em;
}
.mouse .rt, .mouse .lt {
  width:6.5em;
}
.mouse .tp, .mouse .bm, .mouse .tp .photon-shader, .mouse .bm .photon-shader {
  border-radius:3.75em;
}
.mouse .cr {
  width:3.75em;
  left:1.875em;
}
.mouse .cr-0 {
  transform: translate3D(1.5em, 0, 3.25em);
}
.mouse .cr-1 {
  transform: translate3D(1.5em, 0, -3.25em);
}
.mouse .cr-2 {
  transform: translate3D(0, 0, -3.25em);
}
.mouse .cr-3 {
  transform: translate3D(0, 0, 3.25em);
}
.mouse .cr-0 .s0 {
  transform: rotateY(9deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-0 .s1 {
  transform: rotateY(27deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-0 .s2 {
  transform: rotateY(45deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-0 .s3 {
  transform: rotateY(63deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-0 .s4 {
  transform: rotateY(81deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-1 .s0 {
  transform: rotateY(99deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-1 .s1 {
  transform: rotateY(117deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-1 .s2 {
  transform: rotateY(135deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-1 .s3 {
  transform: rotateY(153deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-1 .s4 {
  transform: rotateY(171deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-2 .s0 {
  transform: rotateY(189deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-2 .s1 {
  transform: rotateY(207deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-2 .s2 {
  transform: rotateY(225deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-2 .s3 {
  transform: rotateY(243deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-2 .s4 {
  transform: rotateY(261deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-3 .s0 {
  transform: rotateY(279deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-3 .s1 {
  transform: rotateY(297deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-3 .s2 {
  transform: rotateY(315deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-3 .s3 {
  transform: rotateY(333deg) translate3D(-50%, 0, 3.725em);
}
.mouse .cr-3 .s4 {
  transform: rotateY(351deg) translate3D(-50%, 0, 3.725em);
}
.mouse .side {
  width:1.212883302434022em;
}
/* .wheel styles */
.wheel {
  transform:translate3D(0em, -0.5000000000000001em, -4.050000000000001em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:3em;
  height:1em;
  margin:-0.5em 0 0 -1.5em;
}
.wheel .tp, .wheel .bm {
  width:3em;
  height:3em;
}
.wheel .side {
  width:0.7097304231704499em;
  height:1em;
}
.wheel .tp {
  background: url(models/mouse/Mouse-Atlas_v0.png) -149px -272px;
}
.wheel .bm {
  background: url(models/mouse/Mouse-Atlas_v0.png) -197px -272px;
}
.wheel .side {
  background: url(models/mouse/Mouse-Atlas_v0.png) -246px -272px;
}
.wheel .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.475em);
}
.wheel .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.475em);
}
.wheel .face, .wheel .side {
  background-color:#a8a8a8;
}