/* .mouse styles */
.mouse {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:1em;
  margin:-0.5em 0 0 -1.5em;
}
.mouse .ft {
  transform:translateZ(2em);
}
.mouse .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.mouse .rt, .mouse .lt {
  width:4em;
  height:1em;
}
.mouse .tp, .mouse .bm {
  width:3em;
  height:4em;
}
.mouse .face {
  background-color:#707070;
}
.mouse .ft {
  width:0.75em;
  margin-left:1.125em;
}
.mouse .bk {
  width:0.75em;
  margin-left:-1.125em;
}
.mouse .rt, .mouse .lt {
  width:1.75em;
}
.mouse .rt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .lt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .ft {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .bk {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .tp {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .cr .side {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.mouse .tp, .mouse .bm, .mouse .tp .photon-shader, .mouse .bm .photon-shader {
  border-radius:1.125em;
}
.mouse .cr {
  width:1.125em;
  left:0.5625em;
}
.mouse .cr-0 {
  transform: translate3D(0.75em, 0, 0.875em);
}
.mouse .cr-1 {
  transform: translate3D(0.75em, 0, -0.875em);
}
.mouse .cr-2 {
  transform: translate3D(0, 0, -0.875em);
}
.mouse .cr-3 {
  transform: translate3D(0, 0, 0.875em);
}
.mouse .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 1.1em);
}
.mouse .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 1.1em);
}
.mouse .side {
  width:0.6278856829700261em;
}
/* .wheel styles */
.wheel {
  transform:translate3D(0.03em, -0.3em, -1em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:0.75em;
  height:0.25em;
  margin:-0.125em 0 0 -0.375em;
}
.wheel .tp, .wheel .bm {
  width:0.75em;
  height:0.75em;
}
.wheel .side {
  width:0.19618260579261246em;
  height:0.25em;
}
.wheel .tp, {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.wheel .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.wheel .side {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas_v2.png) 0px 0px;
}
.wheel .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.35em);
}
.wheel .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.35em);
}
.wheel .face, .wheel .side {
  background-color:#a8a8a8;
}