/* SKINS */
.toolkitTop .ft {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 0px;
}
.toolkitBot .bk {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 0px;
}
.toolkitTop .tp {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px -31px;
}
.toolkitTop .bm {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -256px -31px;
}
.toolkitTop .rt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -15px -288px;
}
.toolkitTop .lt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -14px -256px;
}
.toolkitTop .ft {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -8px -224px;
}
.toolkitTop .bk {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -8px
    0px;
}
.toolkitTop .side {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px -256px;
}
.toolkitBot .tp {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px -353px;
}
.toolkitBot .bm {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -256px -353px;
}
.toolkitBot .lt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -14px -578px;
}
.toolkitBot .rt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -14px -610px;
}
.toolkitBot .ft {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -9px -546px;
}
.toolkitBot .bk {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -9px -322px;
}
.toolkitBot .side {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -1px -578px;
}
.claspR .ft {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 24px;
}
.claspR .bk {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -20px
    24px;
}
.claspR .lt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -16px
    24px;
}
.claspR .rt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -16px
    24px;
}
.claspR .tp {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 28px;
}
.claspR .bm {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -20px
    4px;
}

.claspL .ft {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 24px;
}
.claspL .bk {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -20px
    24px;
}
.claspL .lt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -16px
    24px;
}
.claspL .rt {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -16px
    24px;
}
.claspL .tp {
  background: url(../toolkit/Toolkit-Atlas_A4.png)
    0px 28px;
}
.claspL .bm {
  background: url(../toolkit/Toolkit-Atlas_A4.png) -20px
    4px;
}

/* .toolkitBot styles */
.toolkitBot {
  transform: translate3D(0em, 1em, 6em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 16em;
  height: 2em;
  margin: -1em 0 0 -8em;
}
.toolkitBot .ft {
  transform: translateZ(6em);
}
.toolkitBot .bk {
  transform: translateZ(-6em) rotateY(180deg);
}
.toolkitBot .rt,
.toolkitBot .lt {
  width: 12em;
  height: 2em;
}
.toolkitBot .tp,
.toolkitBot .bm {
  width: 16em;
  height: 12em;
}
.toolkitBot .face {
  background-color: #75706c;
}
.toolkitBot .ft {
  width: 15em;
  margin-left: 0.5em;
}
.toolkitBot .bk {
  width: 15em;
  margin-left: -0.5em;
}
.toolkitBot .rt,
.toolkitBot .lt {
  width: 11em;
}
.toolkitBot .tp,
.toolkitBot .bm,
.toolkitBot .tp .photon-shader,
.toolkitBot .bm .photon-shader {
  border-radius: 0.5em;
}
.toolkitBot .cr {
  width: 0.5em;
  left: 0.25em;
}
.toolkitBot .cr-0 {
  transform: translate3D(15em, 0, 5.5em);
}
.toolkitBot .cr-1 {
  transform: translate3D(15em, 0, -5.5em);
}
.toolkitBot .cr-2 {
  transform: translate3D(0, 0, -5.5em);
}
.toolkitBot .cr-3 {
  transform: translate3D(0, 0, 5.5em);
}
.toolkitBot .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .side {
  width: 0.2929491924311227em;
}
/* .toolkitTop styles */
.toolkitTop {
  transform: translate3D(0em, -6em, -1em) rotateX(90deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 16em;
  height: 2em;
  margin: -1em 0 0 -8em;
}
.toolkitTop .ft {
  transform: translateZ(6em);
}
.toolkitTop .bk {
  transform: translateZ(-6em) rotateY(180deg);
}
.toolkitTop .rt,
.toolkitTop .lt {
  width: 12em;
  height: 2em;
}
.toolkitTop .tp,
.toolkitTop .bm {
  width: 16em;
  height: 12em;
}
.toolkitTop .face {
  background-color: #75706c;
}
.toolkitTop .ft {
  width: 15em;
  margin-left: 0.5em;
}
.toolkitTop .bk {
  width: 15em;
  margin-left: -0.5em;
}
.toolkitTop .rt,
.toolkitTop .lt {
  width: 11em;
}
.toolkitTop .tp,
.toolkitTop .bm,
.toolkitTop .tp .photon-shader,
.toolkitTop .bm .photon-shader {
  border-radius: 0.5em;
}
.toolkitTop .cr {
  width: 0.5em;
  left: 0.25em;
}
.toolkitTop .cr-0 {
  transform: translate3D(15em, 0, 5.5em);
}
.toolkitTop .cr-1 {
  transform: translate3D(15em, 0, -5.5em);
}
.toolkitTop .cr-2 {
  transform: translate3D(0, 0, -5.5em);
}
.toolkitTop .cr-3 {
  transform: translate3D(0, 0, 5.5em);
}
.toolkitTop .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .side {
  width: 0.2929491924311227em;
}
/* .pinL1 styles */
.pinL1 {
  transform: translate3D(-2.5em, 0.17em, 12em) rotateX(90deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.pinL1 .tp,
.pinL1 .bm {
  width: 0.125em;
  height: 0.125em;
}
.pinL1 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.pinL1 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.pinL1 .face,
.pinL1 .side {
  background-color: #e3e3e3;
}
/* .pinL2 styles */
.pinL2 {
  transform: translate3D(-1.6764705882352942em, 0.17em, 12em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.pinL2 .tp,
.pinL2 .bm {
  width: 0.125em;
  height: 0.125em;
}
.pinL2 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.pinL2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.pinL2 .face,
.pinL2 .side {
  background-color: #e3e3e3;
}
/* .pinR1 styles */
.pinR1 {
  transform: translate3D(1.7058823529411766em, 0.17em, 12em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.pinR1 .tp,
.pinR1 .bm {
  width: 0.125em;
  height: 0.125em;
}
.pinR1 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.pinR1 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.pinR1 .face,
.pinR1 .side {
  background-color: #e3e3e3;
}
/* .pinR2 styles */
.pinR2 {
  transform: translate3D(2.558823529411765em, 0.17em, 12em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.pinR2 .tp,
.pinR2 .bm {
  width: 0.125em;
  height: 0.125em;
}
.pinR2 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.pinR2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.pinR2 .face,
.pinR2 .side {
  background-color: #e3e3e3;
}
/* .claspL styles */
.claspL {
  transform: translate3D(-5em, 0em, 12.25em) rotateX(-20deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1.2em;
  margin: -0.6em 0 0 -0.5em;
}
.claspL .ft {
  transform: translateZ(0.125em);
}
.claspL .bk {
  transform: translateZ(-0.125em) rotateY(180deg);
}
.claspL .rt,
.claspL .lt {
  width: 0.25em;
  height: 1.2em;
}
.claspL .tp,
.claspL .bm {
  width: 1em;
  height: 0.25em;
}
.claspL .face {
  background-color: #e3e3e3;
}
/* .claspR styles */
.claspR {
  transform: translate3D(5em, 0em, 12.25em) rotateX(-20deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1.2em;
  margin: -0.6em 0 0 -0.5em;
}
.claspR .ft {
  transform: translateZ(0.125em);
}
.claspR .bk {
  transform: translateZ(-0.125em) rotateY(180deg);
}
.claspR .rt,
.claspR .lt {
  width: 0.25em;
  height: 1.2em;
}
.claspR .tp,
.claspR .bm {
  width: 1em;
  height: 0.25em;
}
.claspR .face {
  background-color: #e3e3e3;
}
/* .tk-handleMain styles */
.tk-handleMain {
  transform: translate3D(0em, 1.3em, 12.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(90deg);
  opacity: 1;
  width: 0.75em;
  height: 3em;
  margin: -1.5em 0 0 -0.375em;
}
.tk-handleMain .ft {
  transform: translateZ(0.25em);
}
.tk-handleMain .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.tk-handleMain .rt,
.tk-handleMain .lt {
  width: 0.5em;
  height: 3em;
}
.tk-handleMain .tp,
.tk-handleMain .bm {
  width: 0.75em;
  height: 0.5em;
}
.tk-handleMain .face {
  background-color: #292929;
}
.tk-handleMain .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.tk-handleMain .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.tk-handleMain .rt,
.tk-handleMain .lt {
  width: 0.125em;
}
.tk-handleMain .tp,
.tk-handleMain .bm,
.tk-handleMain .tp .photon-shader,
.tk-handleMain .bm .photon-shader {
  border-radius: 0.1875em;
}
.tk-handleMain .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.tk-handleMain .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.tk-handleMain .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.tk-handleMain .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.tk-handleMain .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.tk-handleMain .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.tk-handleMain .side {
  width: 0.12548094716167102em;
}
/* .handleLinkR1 styles */
.handleLinkR1 {
  transform: translate3D(2.1323529411764706em, 0.46176470588235297em, 12.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.75em;
  height: 0.4em;
  margin: -0.2em 0 0 -0.375em;
}
.handleLinkR1 .ft {
  transform: translateZ(0.25em);
}
.handleLinkR1 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkR1 .rt,
.handleLinkR1 .lt {
  width: 0.5em;
  height: 0.4em;
}
.handleLinkR1 .tp,
.handleLinkR1 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkR1 .face {
  background-color: #292929;
}
.handleLinkR1 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkR1 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkR1 .rt,
.handleLinkR1 .lt {
  width: 0.125em;
}
.handleLinkR1 .tp,
.handleLinkR1 .bm,
.handleLinkR1 .tp .photon-shader,
.handleLinkR1 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkR1 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkR1 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkR1 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkR1 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkR1 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkR1 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR1 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkL1 styles */
.handleLinkL1 {
  transform: translate3D(-2.102941176470588em, 0.5205882352941177em, 12.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkL1 .ft {
  transform: translateZ(0.25em);
}
.handleLinkL1 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkL1 .rt,
.handleLinkL1 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkL1 .tp,
.handleLinkL1 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkL1 .face {
  background-color: #292929;
}
.handleLinkL1 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkL1 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkL1 .rt,
.handleLinkL1 .lt {
  width: 0.125em;
}
.handleLinkL1 .tp,
.handleLinkL1 .bm,
.handleLinkL1 .tp .photon-shader,
.handleLinkL1 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkL1 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkL1 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkL1 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkL1 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkL1 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkL1 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL1 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkL styles */
.handleLinkL {
  transform: translate3D(-2.1029411764705883em, 0.25588235294117656em, 12.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.5em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.25em;
}
.handleLinkL .ft {
  transform: translateZ(0.25em);
}
.handleLinkL .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkL .rt,
.handleLinkL .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkL .tp,
.handleLinkL .bm {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkL .face {
  background-color: #292929;
}
.handleLinkL .ft {
  width: 0.15000000000000002em;
  margin-left: 0.175em;
}
.handleLinkL .bk {
  width: 0.15000000000000002em;
  margin-left: -0.175em;
}
.handleLinkL .rt,
.handleLinkL .lt {
  width: 0.15000000000000002em;
}
.handleLinkL .tp,
.handleLinkL .bm,
.handleLinkL .tp .photon-shader,
.handleLinkL .bm .photon-shader {
  border-radius: 0.175em;
}
.handleLinkL .cr {
  width: 0.175em;
  left: 0.0875em;
}
.handleLinkL .cr-0 {
  transform: translate3D(0.15000000000000002em, 0, 0.07500000000000001em);
}
.handleLinkL .cr-1 {
  transform: translate3D(0.15000000000000002em, 0, -0.07500000000000001em);
}
.handleLinkL .cr-2 {
  transform: translate3D(0, 0, -0.07500000000000001em);
}
.handleLinkL .cr-3 {
  transform: translate3D(0, 0, 0.07500000000000001em);
}
.handleLinkL .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkL .side {
  width: 0.11878221735089295em;
}
/* .handleLinkR styles */
.handleLinkR {
  transform: translate3D(2.1323529411764706em, 0.2852941176470589em, 12.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.5em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.25em;
}
.handleLinkR .ft {
  transform: translateZ(0.25em);
}
.handleLinkR .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkR .rt,
.handleLinkR .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkR .tp,
.handleLinkR .bm {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkR .face {
  background-color: #292929;
}
.handleLinkR .ft {
  width: 0.15000000000000002em;
  margin-left: 0.175em;
}
.handleLinkR .bk {
  width: 0.15000000000000002em;
  margin-left: -0.175em;
}
.handleLinkR .rt,
.handleLinkR .lt {
  width: 0.15000000000000002em;
}
.handleLinkR .tp,
.handleLinkR .bm,
.handleLinkR .tp .photon-shader,
.handleLinkR .bm .photon-shader {
  border-radius: 0.175em;
}
.handleLinkR .cr {
  width: 0.175em;
  left: 0.0875em;
}
.handleLinkR .cr-0 {
  transform: translate3D(0.15000000000000002em, 0, 0.07500000000000001em);
}
.handleLinkR .cr-1 {
  transform: translate3D(0.15000000000000002em, 0, -0.07500000000000001em);
}
.handleLinkR .cr-2 {
  transform: translate3D(0, 0, -0.07500000000000001em);
}
.handleLinkR .cr-3 {
  transform: translate3D(0, 0, 0.07500000000000001em);
}
.handleLinkR .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.15em);
}
.handleLinkR .side {
  width: 0.11878221735089295em;
}
/* .handleLinkR2 styles */
.handleLinkR2 {
  transform: translate3D(2.085625em, 0.774375em, 12.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(20deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkR2 .ft {
  transform: translateZ(0.25em);
}
.handleLinkR2 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkR2 .rt,
.handleLinkR2 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkR2 .tp,
.handleLinkR2 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkR2 .face {
  background-color: #292929;
}
.handleLinkR2 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkR2 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkR2 .rt,
.handleLinkR2 .lt {
  width: 0.125em;
}
.handleLinkR2 .tp,
.handleLinkR2 .bm,
.handleLinkR2 .tp .photon-shader,
.handleLinkR2 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkR2 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkR2 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkR2 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkR2 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkR2 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkR2 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR2 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkR4 styles */
.handleLinkR4 {
  transform: translate3D(1.6em, 1.23em, 12.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(70deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkR4 .ft {
  transform: translateZ(0.25em);
}
.handleLinkR4 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkR4 .rt,
.handleLinkR4 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkR4 .tp,
.handleLinkR4 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkR4 .face {
  background-color: #292929;
}
.handleLinkR4 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkR4 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkR4 .rt,
.handleLinkR4 .lt {
  width: 0.125em;
}
.handleLinkR4 .tp,
.handleLinkR4 .bm,
.handleLinkR4 .tp .photon-shader,
.handleLinkR4 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkR4 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkR4 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkR4 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkR4 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkR4 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkR4 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR4 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkR3 styles */
.handleLinkR3 {
  transform: translate3D(1.9em, 1.05em, 12.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(45deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkR3 .ft {
  transform: translateZ(0.25em);
}
.handleLinkR3 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkR3 .rt,
.handleLinkR3 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkR3 .tp,
.handleLinkR3 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkR3 .face {
  background-color: #292929;
}
.handleLinkR3 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkR3 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkR3 .rt,
.handleLinkR3 .lt {
  width: 0.125em;
}
.handleLinkR3 .tp,
.handleLinkR3 .bm,
.handleLinkR3 .tp .photon-shader,
.handleLinkR3 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkR3 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkR3 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkR3 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkR3 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkR3 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkR3 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkR3 .side {
  width: 0.12548094716167102em;
}
/* .crossPinL styles */
.crossPinL {
  transform: translate3D(-2.06em, 0.175em, 12.15em) rotateX(90deg) rotateY(0deg)
    rotateZ(90deg);
  opacity: 1;
  width: 0.0625em;
  height: 0.8em;
  margin: -0.4em 0 0 -0.03125em;
}
.crossPinL .tp,
.crossPinL .bm {
  width: 0.0625em;
  height: 0.0625em;
}
.crossPinL .side {
  width: 0.03926521714938437em;
  height: 0.8em;
}
.crossPinL .s0 {
  transform: rotateY(12.857142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s1 {
  transform: rotateY(38.57142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s2 {
  transform: rotateY(64.28571428571429deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s4 {
  transform: rotateY(115.71428571428572deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s5 {
  transform: rotateY(141.42857142857144deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s6 {
  transform: rotateY(167.14285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s7 {
  transform: rotateY(192.85714285714286deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s8 {
  transform: rotateY(218.57142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s9 {
  transform: rotateY(244.2857142857143deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s11 {
  transform: rotateY(295.7142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s12 {
  transform: rotateY(321.4285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .s13 {
  transform: rotateY(347.1428571428571deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinL .face,
.crossPinL .side {
  background-color: #e3e3e3;
}
/* .crossPinR styles */
.crossPinR {
  transform: translate3D(2.142125em, 0.175em, 12.15em) rotateX(90deg)
    rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.0625em;
  height: 0.8em;
  margin: -0.4em 0 0 -0.03125em;
}
.crossPinR .tp,
.crossPinR .bm {
  width: 0.0625em;
  height: 0.0625em;
}
.crossPinR .side {
  width: 0.03926521714938437em;
  height: 0.8em;
}
.crossPinR .s0 {
  transform: rotateY(12.857142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s1 {
  transform: rotateY(38.57142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s2 {
  transform: rotateY(64.28571428571429deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s4 {
  transform: rotateY(115.71428571428572deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s5 {
  transform: rotateY(141.42857142857144deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s6 {
  transform: rotateY(167.14285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s7 {
  transform: rotateY(192.85714285714286deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s8 {
  transform: rotateY(218.57142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s9 {
  transform: rotateY(244.2857142857143deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s11 {
  transform: rotateY(295.7142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s12 {
  transform: rotateY(321.4285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .s13 {
  transform: rotateY(347.1428571428571deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.crossPinR .face,
.crossPinR .side {
  background-color: #e3e3e3;
}
/* .handleLinkL4 styles */
.handleLinkL4 {
  transform: translate3D(-1.6158088235294121em, 1.23em, 12.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-70deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkL4 .ft {
  transform: translateZ(0.25em);
}
.handleLinkL4 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkL4 .rt,
.handleLinkL4 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkL4 .tp,
.handleLinkL4 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkL4 .face {
  background-color: #292929;
}
.handleLinkL4 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkL4 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkL4 .rt,
.handleLinkL4 .lt {
  width: 0.125em;
}
.handleLinkL4 .tp,
.handleLinkL4 .bm,
.handleLinkL4 .tp .photon-shader,
.handleLinkL4 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkL4 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkL4 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkL4 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkL4 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkL4 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkL4 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL4 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkL3 styles */
.handleLinkL3 {
  transform: translate3D(-1.8868749999999999em, 1.05em, 12.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-45deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.handleLinkL3 .ft {
  transform: translateZ(0.25em);
}
.handleLinkL3 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkL3 .rt,
.handleLinkL3 .lt {
  width: 0.5em;
  height: 0.5em;
}
.handleLinkL3 .tp,
.handleLinkL3 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkL3 .face {
  background-color: #292929;
}
.handleLinkL3 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkL3 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkL3 .rt,
.handleLinkL3 .lt {
  width: 0.125em;
}
.handleLinkL3 .tp,
.handleLinkL3 .bm,
.handleLinkL3 .tp .photon-shader,
.handleLinkL3 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkL3 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkL3 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkL3 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkL3 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkL3 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkL3 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL3 .side {
  width: 0.12548094716167102em;
}
/* .handleLinkL2 styles */
.handleLinkL2 {
  transform: translate3D(-2.069625em, 0.82125em, 12.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-20deg);
  opacity: 1;
  width: 0.75em;
  height: 0.4em;
  margin: -0.2em 0 0 -0.375em;
}
.handleLinkL2 .ft {
  transform: translateZ(0.25em);
}
.handleLinkL2 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.handleLinkL2 .rt,
.handleLinkL2 .lt {
  width: 0.5em;
  height: 0.4em;
}
.handleLinkL2 .tp,
.handleLinkL2 .bm {
  width: 0.75em;
  height: 0.5em;
}
.handleLinkL2 .face {
  background-color: #292929;
}
.handleLinkL2 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.handleLinkL2 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.handleLinkL2 .rt,
.handleLinkL2 .lt {
  width: 0.125em;
}
.handleLinkL2 .tp,
.handleLinkL2 .bm,
.handleLinkL2 .tp .photon-shader,
.handleLinkL2 .bm .photon-shader {
  border-radius: 0.1875em;
}
.handleLinkL2 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.handleLinkL2 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.handleLinkL2 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.handleLinkL2 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.handleLinkL2 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.handleLinkL2 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.handleLinkL2 .side {
  width: 0.12548094716167102em;
}
