/* .toolkitBot styles */
.toolkitBot {
  transform: translate3D(0em, 1em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 16em;
  height: 2em;
  margin: -1em 0 0 -8em;
}
.toolkitBot .ft {
  transform: translateZ(6em);
}
.toolkitBot .bk {
  transform: translateZ(-6em) rotateY(180deg);
}
.toolkitBot .rt,
.toolkitBot .lt {
  width: 12em;
  height: 2em;
}
.toolkitBot .tp,
.toolkitBot .bm {
  width: 16em;
  height: 12em;
}
.toolkitBot .face {
  background-color: #75706c;
}
.toolkitBot .ft {
  width: 15em;
  margin-left: 0.5em;
}
.toolkitBot .bk {
  width: 15em;
  margin-left: -0.5em;
}
.toolkitBot .rt,
.toolkitBot .lt {
  width: 11em;
}
.toolkitBot .tp,
.toolkitBot .bm,
.toolkitBot .tp .photon-shader,
.toolkitBot .bm .photon-shader {
  border-radius: 0.5em;
}
.toolkitBot .cr {
  width: 0.5em;
  left: 0.25em;
}
.toolkitBot .cr-0 {
  transform: translate3D(15em, 0, 5.5em);
}
.toolkitBot .cr-1 {
  transform: translate3D(15em, 0, -5.5em);
}
.toolkitBot .cr-2 {
  transform: translate3D(0, 0, -5.5em);
}
.toolkitBot .cr-3 {
  transform: translate3D(0, 0, 5.5em);
}
.toolkitBot .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.toolkitBot .side {
  width: 0.2929491924311227em;
}
/* .toolkitTop styles */
.toolkitTop {
  transform: translate3D(0em, -1em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 16em;
  height: 2em;
  margin: -1em 0 0 -8em;
}
.toolkitTop .ft {
  transform: translateZ(6em);
}
.toolkitTop .bk {
  transform: translateZ(-6em) rotateY(180deg);
}
.toolkitTop .rt,
.toolkitTop .lt {
  width: 12em;
  height: 2em;
}
.toolkitTop .tp,
.toolkitTop .bm {
  width: 16em;
  height: 12em;
}
.toolkitTop .face {
  background-color: #75706c;
}
.toolkitTop .ft {
  width: 15em;
  margin-left: 0.5em;
}
.toolkitTop .bk {
  width: 15em;
  margin-left: -0.5em;
}
.toolkitTop .rt,
.toolkitTop .lt {
  width: 11em;
}
.toolkitTop .tp,
.toolkitTop .bm,
.toolkitTop .tp .photon-shader,
.toolkitTop .bm .photon-shader {
  border-radius: 0.5em;
}
.toolkitTop .cr {
  width: 0.5em;
  left: 0.25em;
}
.toolkitTop .cr-0 {
  transform: translate3D(15em, 0, 5.5em);
}
.toolkitTop .cr-1 {
  transform: translate3D(15em, 0, -5.5em);
}
.toolkitTop .cr-2 {
  transform: translate3D(0, 0, -5.5em);
}
.toolkitTop .cr-3 {
  transform: translate3D(0, 0, 5.5em);
}
.toolkitTop .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.toolkitTop .side {
  width: 0.2929491924311227em;
}
/* .cyl-1 styles */
.cyl-1 {
  transform: translate3D(-2.5em, 0.17em, 6.029411764705883em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.cyl-1 .tp,
.cyl-1 .bm {
  width: 0.125em;
  height: 0.125em;
}
.cyl-1 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.cyl-1 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-1 .face,
.cyl-1 .side {
  background-color: #e3e3e3;
}
/* .cyl-2 styles */
.cyl-2 {
  transform: translate3D(-1.6764705882352942em, 0.17em, 6em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.cyl-2 .tp,
.cyl-2 .bm {
  width: 0.125em;
  height: 0.125em;
}
.cyl-2 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.cyl-2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-2 .face,
.cyl-2 .side {
  background-color: #e3e3e3;
}
/* .cyl-3 styles */
.cyl-3 {
  transform: translate3D(1.7058823529411766em, 0.17em, 6em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.cyl-3 .tp,
.cyl-3 .bm {
  width: 0.125em;
  height: 0.125em;
}
.cyl-3 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.cyl-3 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-3 .face,
.cyl-3 .side {
  background-color: #e3e3e3;
}
/* .cyl-4 styles */
.cyl-4 {
  transform: translate3D(2.558823529411765em, 0.17em, 6em) rotateX(90deg)
    rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.125em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.0625em;
}
.cyl-4 .tp,
.cyl-4 .bm {
  width: 0.125em;
  height: 0.125em;
}
.cyl-4 .side {
  width: 0.05353043429876875em;
  height: 0.5em;
}
.cyl-4 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.0375em);
}
.cyl-4 .face,
.cyl-4 .side {
  background-color: #e3e3e3;
}
/* .cub-1 styles */
.cub-1 {
  transform: translate3D(-5em, 0em, 6.25em) rotateX(-20deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1.2em;
  margin: -0.6em 0 0 -0.5em;
}
.cub-1 .ft {
  transform: translateZ(0.125em);
}
.cub-1 .bk {
  transform: translateZ(-0.125em) rotateY(180deg);
}
.cub-1 .rt,
.cub-1 .lt {
  width: 0.25em;
  height: 1.2em;
}
.cub-1 .tp,
.cub-1 .bm {
  width: 1em;
  height: 0.25em;
}
.cub-1 .face {
  background-color: #e3e3e3;
}
/* .cub-2 styles */
.cub-2 {
  transform: translate3D(5em, 0em, 6.25em) rotateX(-20deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1.2em;
  margin: -0.6em 0 0 -0.5em;
}
.cub-2 .ft {
  transform: translateZ(0.125em);
}
.cub-2 .bk {
  transform: translateZ(-0.125em) rotateY(180deg);
}
.cub-2 .rt,
.cub-2 .lt {
  width: 0.25em;
  height: 1.2em;
}
.cub-2 .tp,
.cub-2 .bm {
  width: 1em;
  height: 0.25em;
}
.cub-2 .face {
  background-color: #e3e3e3;
}
/* .cub-3 styles */
.cub-3 {
  transform: translate3D(0em, 1.3em, 6.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(90deg);
  opacity: 1;
  width: 0.75em;
  height: 3em;
  margin: -1.5em 0 0 -0.375em;
}
.cub-3 .ft {
  transform: translateZ(0.25em);
}
.cub-3 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-3 .rt,
.cub-3 .lt {
  width: 0.5em;
  height: 3em;
}
.cub-3 .tp,
.cub-3 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-3 .face {
  background-color: #292929;
}
.cub-3 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-3 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-3 .rt,
.cub-3 .lt {
  width: 0.125em;
}
.cub-3 .tp,
.cub-3 .bm,
.cub-3 .tp .photon-shader,
.cub-3 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-3 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-3 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-3 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-3 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-3 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-3 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-3 .side {
  width: 0.12548094716167102em;
}
/* .cub-4 styles */
.cub-4 {
  transform: translate3D(2.1323529411764706em, 0.46176470588235297em, 6.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.75em;
  height: 0.4em;
  margin: -0.2em 0 0 -0.375em;
}
.cub-4 .ft {
  transform: translateZ(0.25em);
}
.cub-4 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-4 .rt,
.cub-4 .lt {
  width: 0.5em;
  height: 0.4em;
}
.cub-4 .tp,
.cub-4 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-4 .face {
  background-color: #292929;
}
.cub-4 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-4 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-4 .rt,
.cub-4 .lt {
  width: 0.125em;
}
.cub-4 .tp,
.cub-4 .bm,
.cub-4 .tp .photon-shader,
.cub-4 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-4 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-4 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-4 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-4 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-4 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-4 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-4 .side {
  width: 0.12548094716167102em;
}
/* .cub-5 styles */
.cub-5 {
  transform: translate3D(-2.102941176470588em, 0.5205882352941177em, 6.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-5 .ft {
  transform: translateZ(0.25em);
}
.cub-5 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-5 .rt,
.cub-5 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-5 .tp,
.cub-5 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-5 .face {
  background-color: #292929;
}
.cub-5 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-5 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-5 .rt,
.cub-5 .lt {
  width: 0.125em;
}
.cub-5 .tp,
.cub-5 .bm,
.cub-5 .tp .photon-shader,
.cub-5 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-5 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-5 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-5 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-5 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-5 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-5 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-5 .side {
  width: 0.12548094716167102em;
}
/* .cub-6 styles */
.cub-6 {
  transform: translate3D(-2.1029411764705883em, 0.25588235294117656em, 6.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.5em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.25em;
}
.cub-6 .ft {
  transform: translateZ(0.25em);
}
.cub-6 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-6 .rt,
.cub-6 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-6 .tp,
.cub-6 .bm {
  width: 0.5em;
  height: 0.5em;
}
.cub-6 .face {
  background-color: #292929;
}
.cub-6 .ft {
  width: 0.15000000000000002em;
  margin-left: 0.175em;
}
.cub-6 .bk {
  width: 0.15000000000000002em;
  margin-left: -0.175em;
}
.cub-6 .rt,
.cub-6 .lt {
  width: 0.15000000000000002em;
}
.cub-6 .tp,
.cub-6 .bm,
.cub-6 .tp .photon-shader,
.cub-6 .bm .photon-shader {
  border-radius: 0.175em;
}
.cub-6 .cr {
  width: 0.175em;
  left: 0.0875em;
}
.cub-6 .cr-0 {
  transform: translate3D(0.15000000000000002em, 0, 0.07500000000000001em);
}
.cub-6 .cr-1 {
  transform: translate3D(0.15000000000000002em, 0, -0.07500000000000001em);
}
.cub-6 .cr-2 {
  transform: translate3D(0, 0, -0.07500000000000001em);
}
.cub-6 .cr-3 {
  transform: translate3D(0, 0, 0.07500000000000001em);
}
.cub-6 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.15em);
}
.cub-6 .side {
  width: 0.11878221735089295em;
}
/* .cub-7 styles */
.cub-7 {
  transform: translate3D(2.1323529411764706em, 0.2852941176470589em, 6.25em)
    rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.5em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.25em;
}
.cub-7 .ft {
  transform: translateZ(0.25em);
}
.cub-7 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-7 .rt,
.cub-7 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-7 .tp,
.cub-7 .bm {
  width: 0.5em;
  height: 0.5em;
}
.cub-7 .face {
  background-color: #292929;
}
.cub-7 .ft {
  width: 0.15000000000000002em;
  margin-left: 0.175em;
}
.cub-7 .bk {
  width: 0.15000000000000002em;
  margin-left: -0.175em;
}
.cub-7 .rt,
.cub-7 .lt {
  width: 0.15000000000000002em;
}
.cub-7 .tp,
.cub-7 .bm,
.cub-7 .tp .photon-shader,
.cub-7 .bm .photon-shader {
  border-radius: 0.175em;
}
.cub-7 .cr {
  width: 0.175em;
  left: 0.0875em;
}
.cub-7 .cr-0 {
  transform: translate3D(0.15000000000000002em, 0, 0.07500000000000001em);
}
.cub-7 .cr-1 {
  transform: translate3D(0.15000000000000002em, 0, -0.07500000000000001em);
}
.cub-7 .cr-2 {
  transform: translate3D(0, 0, -0.07500000000000001em);
}
.cub-7 .cr-3 {
  transform: translate3D(0, 0, 0.07500000000000001em);
}
.cub-7 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.15em);
}
.cub-7 .side {
  width: 0.11878221735089295em;
}
/* .cub-8 styles */
.cub-8 {
  transform: translate3D(2.085625em, 0.774375em, 6.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(20deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-8 .ft {
  transform: translateZ(0.25em);
}
.cub-8 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-8 .rt,
.cub-8 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-8 .tp,
.cub-8 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-8 .face {
  background-color: #292929;
}
.cub-8 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-8 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-8 .rt,
.cub-8 .lt {
  width: 0.125em;
}
.cub-8 .tp,
.cub-8 .bm,
.cub-8 .tp .photon-shader,
.cub-8 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-8 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-8 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-8 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-8 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-8 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-8 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-8 .side {
  width: 0.12548094716167102em;
}
/* .cub-9 styles */
.cub-9 {
  transform: translate3D(1.6em, 1.23em, 6.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(70deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-9 .ft {
  transform: translateZ(0.25em);
}
.cub-9 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-9 .rt,
.cub-9 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-9 .tp,
.cub-9 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-9 .face {
  background-color: #292929;
}
.cub-9 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-9 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-9 .rt,
.cub-9 .lt {
  width: 0.125em;
}
.cub-9 .tp,
.cub-9 .bm,
.cub-9 .tp .photon-shader,
.cub-9 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-9 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-9 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-9 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-9 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-9 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-9 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-9 .side {
  width: 0.12548094716167102em;
}
/* .cub-10 styles */
.cub-10 {
  transform: translate3D(1.9em, 1.05em, 6.25em) rotateX(0deg) rotateY(0deg)
    rotateZ(45deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-10 .ft {
  transform: translateZ(0.25em);
}
.cub-10 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-10 .rt,
.cub-10 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-10 .tp,
.cub-10 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-10 .face {
  background-color: #292929;
}
.cub-10 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-10 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-10 .rt,
.cub-10 .lt {
  width: 0.125em;
}
.cub-10 .tp,
.cub-10 .bm,
.cub-10 .tp .photon-shader,
.cub-10 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-10 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-10 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-10 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-10 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-10 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-10 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-10 .side {
  width: 0.12548094716167102em;
}
/* .cyl-5 styles */
.cyl-5 {
  transform: translate3D(-2.06em, 0.175em, 6.15em) rotateX(90deg) rotateY(0deg)
    rotateZ(90deg);
  opacity: 1;
  width: 0.0625em;
  height: 0.8em;
  margin: -0.4em 0 0 -0.03125em;
}
.cyl-5 .tp,
.cyl-5 .bm {
  width: 0.0625em;
  height: 0.0625em;
}
.cyl-5 .side {
  width: 0.03926521714938437em;
  height: 0.8em;
}
.cyl-5 .s0 {
  transform: rotateY(12.857142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s1 {
  transform: rotateY(38.57142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s2 {
  transform: rotateY(64.28571428571429deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s4 {
  transform: rotateY(115.71428571428572deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s5 {
  transform: rotateY(141.42857142857144deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s6 {
  transform: rotateY(167.14285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s7 {
  transform: rotateY(192.85714285714286deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s8 {
  transform: rotateY(218.57142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s9 {
  transform: rotateY(244.2857142857143deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s11 {
  transform: rotateY(295.7142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s12 {
  transform: rotateY(321.4285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .s13 {
  transform: rotateY(347.1428571428571deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-5 .face,
.cyl-5 .side {
  background-color: #e3e3e3;
}
/* .cyl-6 styles */
.cyl-6 {
  transform: translate3D(2.142125em, 0.175em, 6.15em) rotateX(90deg)
    rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 0.0625em;
  height: 0.8em;
  margin: -0.4em 0 0 -0.03125em;
}
.cyl-6 .tp,
.cyl-6 .bm {
  width: 0.0625em;
  height: 0.0625em;
}
.cyl-6 .side {
  width: 0.03926521714938437em;
  height: 0.8em;
}
.cyl-6 .s0 {
  transform: rotateY(12.857142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s1 {
  transform: rotateY(38.57142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s2 {
  transform: rotateY(64.28571428571429deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s4 {
  transform: rotateY(115.71428571428572deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s5 {
  transform: rotateY(141.42857142857144deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s6 {
  transform: rotateY(167.14285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s7 {
  transform: rotateY(192.85714285714286deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s8 {
  transform: rotateY(218.57142857142858deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s9 {
  transform: rotateY(244.2857142857143deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s11 {
  transform: rotateY(295.7142857142857deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s12 {
  transform: rotateY(321.4285714285714deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .s13 {
  transform: rotateY(347.1428571428571deg)
    translate3D(-50%, 0, 0.006249999999999999em);
}
.cyl-6 .face,
.cyl-6 .side {
  background-color: #e3e3e3;
}
/* .cub-11 styles */
.cub-11 {
  transform: translate3D(-1.6158088235294121em, 1.23em, 6.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-70deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-11 .ft {
  transform: translateZ(0.25em);
}
.cub-11 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-11 .rt,
.cub-11 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-11 .tp,
.cub-11 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-11 .face {
  background-color: #292929;
}
.cub-11 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-11 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-11 .rt,
.cub-11 .lt {
  width: 0.125em;
}
.cub-11 .tp,
.cub-11 .bm,
.cub-11 .tp .photon-shader,
.cub-11 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-11 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-11 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-11 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-11 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-11 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-11 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-11 .side {
  width: 0.12548094716167102em;
}
/* .cub-12 styles */
.cub-12 {
  transform: translate3D(-1.8868749999999999em, 1.05em, 6.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-45deg);
  opacity: 1;
  width: 0.75em;
  height: 0.5em;
  margin: -0.25em 0 0 -0.375em;
}
.cub-12 .ft {
  transform: translateZ(0.25em);
}
.cub-12 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-12 .rt,
.cub-12 .lt {
  width: 0.5em;
  height: 0.5em;
}
.cub-12 .tp,
.cub-12 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-12 .face {
  background-color: #292929;
}
.cub-12 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-12 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-12 .rt,
.cub-12 .lt {
  width: 0.125em;
}
.cub-12 .tp,
.cub-12 .bm,
.cub-12 .tp .photon-shader,
.cub-12 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-12 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-12 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-12 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-12 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-12 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-12 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-12 .side {
  width: 0.12548094716167102em;
}
/* .cub-13 styles */
.cub-13 {
  transform: translate3D(-2.069625em, 0.82125em, 6.25em) rotateX(0deg)
    rotateY(0deg) rotateZ(-20deg);
  opacity: 1;
  width: 0.75em;
  height: 0.4em;
  margin: -0.2em 0 0 -0.375em;
}
.cub-13 .ft {
  transform: translateZ(0.25em);
}
.cub-13 .bk {
  transform: translateZ(-0.25em) rotateY(180deg);
}
.cub-13 .rt,
.cub-13 .lt {
  width: 0.5em;
  height: 0.4em;
}
.cub-13 .tp,
.cub-13 .bm {
  width: 0.75em;
  height: 0.5em;
}
.cub-13 .face {
  background-color: #292929;
}
.cub-13 .ft {
  width: 0.375em;
  margin-left: 0.1875em;
}
.cub-13 .bk {
  width: 0.375em;
  margin-left: -0.1875em;
}
.cub-13 .rt,
.cub-13 .lt {
  width: 0.125em;
}
.cub-13 .tp,
.cub-13 .bm,
.cub-13 .tp .photon-shader,
.cub-13 .bm .photon-shader {
  border-radius: 0.1875em;
}
.cub-13 .cr {
  width: 0.1875em;
  left: 0.09375em;
}
.cub-13 .cr-0 {
  transform: translate3D(0.375em, 0, 0.0625em);
}
.cub-13 .cr-1 {
  transform: translate3D(0.375em, 0, -0.0625em);
}
.cub-13 .cr-2 {
  transform: translate3D(0, 0, -0.0625em);
}
.cub-13 .cr-3 {
  transform: translate3D(0, 0, 0.0625em);
}
.cub-13 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1625em);
}
.cub-13 .side {
  width: 0.12548094716167102em;
}
