/* .monitor-screen styles */
.monitor-screen {
  transform:translate3D(0em, -15em, 0.08333333333333337em) rotateX(94deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:31.5em;
  height:1.5em;
  margin:-0.75em 0 0 -15.75em;
}
.monitor-screen .ft {
  transform:translateZ(9em);
}
.monitor-screen .bk {
  transform:translateZ(-9em) rotateY(180deg);
}
.monitor-screen .rt, .monitor-screen .lt {
  width:18em;
  height:1.5em;
}
.monitor-screen .tp, .monitor-screen .bm {
  width:31.5em;
  height:18em;
}
.monitor-screen .rt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-screen .lt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-screen .tp {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -288px;
}
.monitor-screen .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-screen .ft {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -599px;
}
.monitor-screen .bk {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -575px;
}
.monitor-screen .cr .side {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) -504px -575px;
}
.monitor-screen .face {
  background-color:#5c5c5c;
}
.monitor-screen .ft {
  width:30.5em;
  margin-left:0.5em;
}
.monitor-screen .bk {
  width:30.5em;
  margin-left:-0.5em;
}
.monitor-screen .rt, .monitor-screen .lt {
  width:17em;
}
.monitor-screen .tp, .monitor-screen .bm, .monitor-screen .tp .photon-shader, .monitor-screen .bm .photon-shader {
  border-radius:0.5em;
}
.monitor-screen .cr {
  width:0.5em;
  left:0.25em;
}
.monitor-screen .cr-0 {
  transform: translate3D(30.5em, 0, 8.5em);
}
.monitor-screen .cr-1 {
  transform: translate3D(30.5em, 0, -8.5em);
}
.monitor-screen .cr-2 {
  transform: translate3D(0, 0, -8.5em);
}
.monitor-screen .cr-3 {
  transform: translate3D(0, 0, 8.5em);
}
.monitor-screen .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.monitor-screen .side {
  width:0.2929491924311227em;
}
/* .monitor-base styles */
.monitor-base {
  transform:translate3D(0em, -0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:17em;
  height:1em;
  margin:-0.5em 0 0 -8.5em;
}
.monitor-base .ft {
  transform:translateZ(4.125em);
}
.monitor-base .bk {
  transform:translateZ(-4.125em) rotateY(180deg);
}
.monitor-base .rt, .monitor-base .lt {
  width:8.25em;
  height:1em;
}
.monitor-base .tp, .monitor-base .bm {
  width:17em;
  height:8.25em;
}
.monitor-base .face {
  background-color:#5c5c5c;
}
.monitor-base .ft {
  width:16em;
  margin-left:0.5em;
}
.monitor-base .bk {
  width:16em;
  margin-left:-0.5em;
}
.monitor-base .rt, .monitor-base .lt {
  width:7.25em;
}
.monitor-base .rt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) -256px -788px;
}
.monitor-base .lt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) -256px -772px;
}
.monitor-base .tp {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -640px;
}
.monitor-base .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) -272px -640px;
}
.monitor-base .ft {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -772px;
}
.monitor-base .bk {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px -788px;
}
.monitor-base .cr .side {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) -372px -772px;
}
.monitor-base .tp, .monitor-base .bm, .monitor-base .tp .photon-shader, .monitor-base .bm .photon-shader {
  border-radius:0.5em;
}
.monitor-base .cr {
  width:0.5em;
  left:0.25em;
}
.monitor-base .cr-0 {
  transform: translate3D(16em, 0, 3.625em);
}
.monitor-base .cr-1 {
  transform: translate3D(16em, 0, -3.625em);
}
.monitor-base .cr-2 {
  transform: translate3D(0, 0, -3.625em);
}
.monitor-base .cr-3 {
  transform: translate3D(0, 0, 3.625em);
}
.monitor-base .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
.monitor-base .side {
  width:0.2929491924311227em;
}
/* .monitor-support styles */
.monitor-support {
  transform:translate3D(0em, -10.25em, -1.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:18.5em;
  margin:-9.25em 0 0 -2em;
}
.monitor-support .ft {
  transform:translateZ(0.75em);
}
.monitor-support .bk {
  transform:translateZ(-0.75em) rotateY(180deg);
}
.monitor-support .rt, .monitor-support .lt {
  width:1.5em;
  height:18.5em;
}
.monitor-support .tp, .monitor-support .bm {
  width:4em;
  height:1.5em;
}
.monitor-support .rt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .lt {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .tp {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .ft {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .bk {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .bm {
  background: url(https://cdn.jsdelivr.net/gh/tnharvey/3DCSSTrainingRoom@scenarioStart/models/monitor/Monitor-Atlas.png) 0px 0px;
}
.monitor-support .face {
  background-color:#5c5c5c;
}